<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %} Instagram Marketing Tool
    </title>
    <style>
      {% block style %}{% endblock %}
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert" data-display-time="5000" style="text-align: center;">
              <strong>{{ message }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p style="text-align: center;">
          &copy; Copyright{% now 'Y' %} by Instagram Marketing Tool
        </p>
      </div>
    </footer>
    <script>
      // Function to handle the message divs
      function handleMessages() {
        const messageDivs = document.querySelectorAll('.alert');
    
        messageDivs.forEach((messageDiv) => {
          const displayTime = parseInt(messageDiv.dataset.displayTime);
    
          // Set a timeout to hide the message after the specified display time
          setTimeout(() => {
            messageDiv.style.display = 'none';
          }, displayTime);
        });
      }
    
      // Call the function when the DOM is loaded
      document.addEventListener('DOMContentLoaded', handleMessages);
    </script>
  </body>
</html>
