{% extends 'userapi/base.html' %}
{% load static %}

{% block title %}Dashboard | {% endblock %}

{% block style %}
<style>
    /* Custom styles for spacing and visual enhancements */
    .dashboard-container {
        padding: 2rem;
    }

    .btn-group {
        margin-bottom: 1rem;
    }

    .btn-group button {
        margin-right: 0.5rem;
    }

    .toggle-button {
        position: relative;
        margin: 10px;
    }

    /* .toggle-button .bx {
        margin-left: 0.5rem;
    } */

    .toggle-content {
        margin: 5px;

    }

    /* More specific styling for labels, inputs, etc. can be added here */
</style>
{% endblock style %}

{% block content1 %}
<!-- Inner Banner Area -->
<div class="inner-banner">
    <div>
        <div class="inner-title text-center">
            <h3>Dashboard</h3>
            <ul>
                <li>
                    <a href={% url "userapi:home" %}>Home</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Dashboard</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one">
            <img src="{% static 'assets/img/inner-banner/banner-shape1.png' %}" alt="Images">
        </div>

        <div class="shape-two">
            <img src="{% static 'assets/img/inner-banner/banner-shape2.png' %}" alt="Images">
        </div>

        <div class="shape-three">
            <img src="{% static 'assets/img/inner-banner/banner-shape3.png' %}" alt="Images">
        </div>

        <div class="inner-banner-dots-2">
            <img src="{% static 'assets/img/shape/dots-shape.png' %}" alt="Images">
        </div>
    </div>
</div>
<!-- Inner Banner Area End -->

<div class="dashboard-container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Settings</button>
            <button type="submit" class="btn btn-primary">Activity Log</button>
            <button type="submit" class="btn btn-primary">Stats</button>
            <a class="align-self-center">5 Min Setup</a>
        </div>
    </div>
    <div class="toggle-button">
        <button class="btn btn-primary" onclick="toggleDisplay('inner-data-targeting')">
            <i class='bx bx-chevron-down'></i>
            Targeting
        </button>
    </div>
    <div id="inner-data-targeting" style="display: none;" class="toggle-content">
        <label>
            <input class="radio" name="type" type="radio" value="people_followers" checked="">
            <span>
                <span class="icon"></span>
                Post (like) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="people_likers">
            <span>
                <span class="icon"></span>
                Post (comment) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="people_likers">
            <span>
                <span class="icon"></span>
                Comment (like) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="reels">
            <span>
                <span class="icon"></span>
                Reels (view) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="reels">
            <span>
                <span class="icon"></span>
                Reels (like) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="reels">
            <span>
                <span class="icon"></span>
                Reels (comment) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="hashtag_likers">
            <span>
                <span class="icon"></span>
                #Hashtags (like) </span>
        </label>

        <label>
            <input class="radio" name="type" type="radio" value="hashtag">
            <span>
                <span class="icon"></span>
                #Hashtags (comment) </span>
        </label>
        <p>
            <label class="form-label" for="search">Search</label>
            <input name="search" type="text">
        </p>
    </div>
    <div class="toggle-button">
        <button class="btn btn-primary" onclick="toggleDisplay('inner-data-activity')">
            <i class='bx bx-chevron-down'></i>
            Activity Time Settings
        </button>
    </div>
    <div id="inner-data-activity" style="display: none;" class="toggle-content">
        <p>
            Activity Time Div
        </p>
    </div>
    <div class="toggle-content">
        <button class="btn btn-primary" onclick="toggleDisplay('inner-data-followers')">
            <i class='bx bx-chevron-down'></i>
            Followers Source Tracking
        </button>
    </div>
    <div id="inner-data-followers" style="display: none;" class="toggle-content">
        <p>
            Followers Source Div
        </p>
    </div>
    <div class="form-group mt-3">
        <label class="form-label">Labels</label>
        <input id="labels" name="labels" type="text" placeholder="Select the label..." value="">
    </div>
</div>

<script>
    function toggleDisplay(inputID) {
        const dataDisplay = document.getElementById(inputID);
        dataDisplay.style.display = dataDisplay.style.display === 'none' ? 'block' : 'none';
    }
</script>
{% endblock %}