{% extends 'userapi/base.html' %}

{% block title %}
  Dashboard |
{% endblock %}

{% block content %}
<header class="header">
    <div>
      <nav class="nav">
        {% if request.user.is_authenticated %}
          <a href={%url "userapi:profile"%} title="Update profile">Hi! {{ request.user.username }}</a>
          <a href={%url "userapi:logout"%} class="btn btn-outline">Logout</a>
        {% else %}
          <a href={%url "userapi:login"%} class="btn btn-outline">Login</a>
          <a href={%url "userapi:signup"%} class="btn btn-primary">Sign Up</a>
        {% endif %}
      </nav>
    </div>
  </header>

{% endblock %}