{% extends 'userapi/base.html' %}
{% load static %}

{% block title %}Dashboard | {% endblock %}

{% block style %}
<style>
    .buttons button {
        margin-right: 0.5rem;
    }

    /* Styles for the popup */
    .popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        color: #1d1d1d;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .theme-dark .popup-content {
        background: #1d1d1d;
        color: #ffffff;
    }

    body.popup-open {
        overflow: hidden;
    }
</style>
{% endblock style %}

{% block content1 %}
<!-- Inner Banner Area -->
<div class="inner-banner">
    <div>
        <div class="inner-title text-center">
            <h3>Dashboard</h3>
            <ul>
                <li>
                    <a href={% url "userapi:home" %}>Home</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Dashboard</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one">
            <img src="{% static 'assets/img/inner-banner/banner-shape1.png' %}" alt="Images">
        </div>

        <div class="shape-two">
            <img src="{% static 'assets/img/inner-banner/banner-shape2.png' %}" alt="Images">
        </div>

        <div class="shape-three">
            <img src="{% static 'assets/img/inner-banner/banner-shape3.png' %}" alt="Images">
        </div>

        <div class="inner-banner-dots-2">
            <img src="{% static 'assets/img/shape/dots-shape.png' %}" alt="Images">
        </div>
    </div>
</div>
<!-- Inner Banner Area End -->

<div class="container mb-3">
    <div class="row pt-45">
        <div class="col-lg-5">
            <div class="d-flex justify-content-between mb-3">
                <h2>Targets</h2>
                <div class="buttons">
                    <button type="button" class="btn btn-primary" onclick="openSettingsPopup()">
                        Settings
                        <i class="bx bx-cog"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a href={% url "userapi:target-edit" %} style="color: white;">Add new Target</a>
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
            </div>
            {% if targets %}
            {% for target in targets %}
            <div class="d-flex justify-content-between mb-3">
                <div class="col-lg-7">
                    {{ target.target_type.type }}
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary btn-sm">
                        <a href={% url "userapi:target-edit" target.id %} style="color: white;">Edit</a>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <strong>No Targets Added yet!</strong>
            {% endif %}
        </div>
    </div>
</div>

<!-- Settings Popup -->
<div class="popup" id="settingsPopup">
    <div class="popup-content">
        <form action={% url "userapi:dashboard" %} method="POST">
            {% csrf_token %}
            <div class="clearfix mb-3">
                <button type="button" class="btn btn-primary btn-sm float-end" onclick="openInstaPopup()">
                    Add New
                    <i class='bx bx-plus'></i>
                </button>
            </div>
            <div>
                {% if insta_creds %}
                <label for="settingsDropdown">Select or Edit Your Insta Account:</label>
                <select id="settingsDropdown" name="selected_insta_cred">
                    <option value="">-------</option>
                    {% for insta_cred in insta_creds %}
                    <option value="{{ insta_cred.username }}">{{ insta_cred.username }} </option>
                    {% endfor %}
                </select>
                {% else %}
                <strong>No Insta Account Found against Your Account!</strong>
                {% endif %}
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="form-group" style="margin-top: 15px;">
                    {% if insta_creds %}
                    <button type="submit" class="btn btn-primary">Select</button>
                    <button type="button" class="btn btn-primary">Edit</button>
                    {% endif %}
                    <button type="button" class="btn btn-primary" onclick="closeSettingsPopup()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Insta Popup -->
<div class="popup" id="instaPopup">
    <div class="popup-content">
        <form action={% url "userapi:credential" %} method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 ">
                    <i class='bx bx-user'></i>
                    <input type="text" name="username" id="name" class="form-control" required
                        placeholder="Please Enter Your Insta Username">
                </div>
                <div class="col-12">
                    <i class='bx bx-lock-alt'></i>
                    <input class="form-control" id="password-input" type="password" name="password"
                        placeholder="Password">
                    <input type="checkbox" id="chb2" onclick="togglePassword()">
                    <label for="chb2">
                        Show Password
                    </label>
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        Add
                        <i class='bx bx-plus'></i>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="closeInstaPopup()">
                        Cancel
                        <i class='bx bx-x'></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById("password-input");
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
    }

    function openSettingsPopup() {
        document.getElementById('settingsPopup').style.display = 'block';
        document.body.classList.add('popup-open'); // Add this line to disable body scrolling
    }

    function openInstaPopup() {
        document.getElementById('instaPopup').style.display = 'block';
        document.getElementById('settingsPopup').style.display = 'none';
        document.body.classList.add('popup-open'); // Add this line to disable body scrolling
    }

    function closeInstaPopup() {
        document.getElementById('instaPopup').style.display = 'none';
        document.body.classList.remove('popup-open'); // Remove this line to enable body scrolling
    }

    function closeSettingsPopup() {
        document.getElementById('settingsPopup').style.display = 'none';
        document.body.classList.remove('popup-open'); // Remove this line to enable body scrolling
    }
</script>
{% endblock %}