<!-- <head>
    <style>
        header {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 25px;
        }

        header nav a {
            color: rgb(191, 216, 208);
            margin: 0 10px;
        }

        header nav a:hover {
            text-decoration: underline;
            color: antiquewhite;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <nav class="nav"> -->
<!-- Start Navbar Area -->
{% block header %}
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="{% url 'userapi:home' %}" class="logo">
            <h1>InstaBot</h1>
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav nav-bar-three">
        <div class="container-fluid">
            <nav class="container-max-2 navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="{% url 'userapi:home' %}">
                    <h1>InstaBot</h1>
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="{% url 'userapi:home' %}" class="nav-link">
                                Home
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'userapi:profile' %}" class="nav-link">
                                Your Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'userapi:logout' %}" class="nav-link">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{%url 'userapi:login' %}" class="nav-link">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'userapi:signup' %}" class="nav-link">Sign Up</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'userapi:about' %}" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'userapi:pricing' %}" class="nav-link">
                                Pricing
                            </a>
                        </li>

                        <div class="side-nav d-in-line align-items-center">
                            <div class="side-item">
                                <div class="nav-add-btn">
                                    <a href="{% url 'userapi:login' %}" class="nav-menu-btn border-radius">
                                        Get started
                                        <i class='bx bx-plus'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="side-nav-responsive">
        {% block side_nav %}{% endblock side_nav %}
    </div>
</div>
<!-- End Navbar Area -->
{% endblock header %}