{% extends "userapi/base.html" %}
{% load static %}

{% block header %}
{% include "userapi/header.html" %}
{% endblock header %}

{% block side_nav %}
<div class="container">
    <div class="dot-menu">
        <div class="circle-inner">
            <div class="circle circle-one"></div>
            <div class="circle circle-two"></div>
            <div class="circle circle-three"></div>
        </div>
    </div>
    <div class="container">
        <div class="side-nav-inner">
            <div class="side-nav side-nav-two justify-content-center  align-items-center">
                <div class="side-item">
                    <div class="nav-add-btn">
                        <a href={% url "userapi:login" %} class="nav-menu-btn border-radius">
                            Get Started
                            <i class='bx bx-plus'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock side_nav %}

{% block content1 %}
<!-- Banner Area Three -->
<div class="banner-area-three">
    <div class="container-fluid">
        <div class="container-max-2">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner-content-three">
                        <h1>Real, Organic Instagram Followers</h1>
                        <p>No bots. No fake users. Build your community with AI targeted IG follower growth.</p>
                        <div class="banner-three-btn">
                            <a href={% url "userapi:login" %} class="explore-btn">
                                Get Started
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-img-3">
        <img src="{% static 'assets/img/home-three/home-three-img.png' %}" alt="Images">
    </div>

    <div class="banner-three-shape">
        <div class="shape1">
            <img src="{% static 'assets/img/shape/shape16.png' %}" alt="Images">
        </div>
        <div class="shape2">
            <img src="{% static 'assets/img/shape/shape15.png' %}" alt="Images">
        </div>
    </div>
</div>
<!-- Banner Area Three End -->
{% endblock content1 %}

{% block content2 %}
<!-- Service Area Three -->
<div class="service-area-three pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-after">Our Services</span>
            <h2>The #1 Rated Instagram Growth Service</h2>
            <p>
                InstaBot helps you get more Instagram followers, likes and comments (and a bunch of other stuff) 10x
                faster.
            </p>
        </div>
    </div>
</div>
<!-- Service Area Three End -->

<!-- About Area Two -->
<div class="about-area-two pb-70">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img-2">
                        <img src="{% static 'assets/img/about/about-img3.png' %}" alt="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content-two">
                        <div class="section-title">
                            <span class="sp-before sp-after">About Us</span>
                            <h2>Grow Your Instagram With Our AI Growth Tool</h2>
                        </div>
                        <h3>Welcome to InstaBot, your AI-powered solution for Instagram growth.</h3>
                        <p>
                            We leverage advanced AI technology to optimize your profile, enhance engagement, and expand
                            your reach organically. Our focus is on genuine, sustainable growth, ensuring you stand out
                            authentically in the dynamic world of Instagram. Join us and elevate your Instagram game
                            effortlessly.
                        </p>

                        <div class="about-btn-two">
                            <a href={% url "userapi:about" %} class="about-more-btn">
                                About Us
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area Two End -->

<!-- Schedule Area -->
<div class="schedule-area">
    <div class="container-fluid">
        <div class="schedule-width ptb-100">
            <div class="schedule-content">
                <h2>
                    Discover AI-powered growth for Instagram. Tailored plans for every goal. Elevate your presence
                    today. Start now for authentic success!
                </h2>
                <a href={% url "userapi:pricing" %} class="default-btn-two">
                    Pricing
                    <i class='bx bx-plus'></i>
                </a>
                <div class="schedule-content-shape">
                    <div class="shape1">
                        <img src="{% static 'assets/img/shape/shape15.png' %}" alt="Images">
                    </div>

                    <div class="shape2">
                        <img src="{% static 'assets/img/shape/shape16.png' %}" alt="Images">
                    </div>
                </div>
            </div>

            <div class="schedule-shape">
                <img src="{% static 'assets/img/shape/schedule-shape.png' %}" alt="Images">
            </div>
        </div>
    </div>
</div>
<!-- Schedule Area End -->

<!-- Serve Area -->
<div class="serve-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="serve-content">
                    <div class="section-title">
                        <span class="sp-before sp-after">Why We're</span>
                        <h2 class="h2-color2">Empowering Your Instagram Growth with AI Precision</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="serve-list">
                                <i class='bx bx-check'></i>
                                <span>01: Analysis</span>
                                <p>Understand your profile and audience.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="serve-list">
                                <i class='bx bx-check'></i>
                                <span>02: Strategy</span>
                                <p>Tailor a personalized growth plan.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="serve-list">
                                <i class='bx bx-check'></i>
                                <span>03: Engagement</span>
                                <p>Automated interactions with the right users.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="serve-list">
                                <i class='bx bx-check'></i>
                                <span>04: Optimization</span>
                                <p>Continuous refinement for sustained growth.</p>
                            </div>
                        </div>
                    </div>
                    <p>Each step contributes to maximizing your Instagram growth efficiently and authentically through
                        our AI-powered tool.</p>
                    <a href={% url "userapi:login" %} class="default-btn-two">
                        Get Started
                        <i class='bx bx-plus'></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="serve-img">
                    <img src="{% static 'assets/img/serve-img.png' %}" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Serve Area End -->

<!-- Testimonial Area -->
<div class="testimonial-area-two pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="testimonial-content">
                    <div class="testimonial-content2">
                        <div class="testimonial-text">
                            <h3>100+</h3>
                            <span>Delivering Proven Results</span>
                        </div>
                    </div>

                    <div class="testimonial-content3">
                        <div class="testimonial-text">
                            <h3>10K+</h3>
                            <span>Empowered Profiles</span>
                        </div>
                    </div>

                    <div class="testimonial-content4">
                        <div class="testimonial-text">
                            <h3>125+</h3>
                            <span>Tailored Strategies</span>
                        </div>
                    </div>

                    <div class="testimonial-shape1">
                        <img src="{% static 'assets/img/shape/shape15.png' %}" alt="Images">
                    </div>

                    <div class="testimonial-shape2">
                        <img src="{% static 'assets/img/shape/shape16.png' %}" alt="Images">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="testimonial-slider-area">
                    <div class="testimonial-title-2">
                        <h2>Words From Customers</h2>
                    </div>
                    <div class="testimonial-slider-two owl-carousel owl-theme">
                        <div class="testimonial-item-2">
                            <p>
                                I chose InstaBot because of their value And
                                incredible superior customer Service they
                                really awesome treated me like family
                            </p>
                            <div class="content">
                                <img src="{% static 'assets/img/testimonial/testimonial-img1.png' %}" alt="Images">
                                <div class="content-title">
                                    <h3>David McLean</h3>
                                    <span>CEO & Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-item-2">
                            <p>
                                I chose InstaBot because of their value And
                                incredible superior customer Service they
                                really awesome treated me like family
                            </p>
                            <div class="content">
                                <img src="{% static 'assets/img/testimonial/testimonial-img2.png' %}" alt="Images">
                                <div class="content-title">
                                    <h3>Jermin Jekson</h3>
                                    <span>Marketing Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-item-2">
                            <p>
                                I chose InstaBot because of their value And
                                incredible superior customer Service they
                                really awesome treated me like family
                            </p>
                            <div class="content">
                                <img src="{% static 'assets/img/testimonial/testimonial-img3.png' %}" alt="Images">
                                <div class="content-title">
                                    <h3>Julfiker Jeain</h3>
                                    <span>CEO At Ostino</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
{% endblock content2 %}