{% extends 'userapi/base.html' %}

{% block title %}
  Sign Up |
{% endblock %}

{% block content %}
  <div class="signup-page">
    <div class="form">
      <form method="POST" action="{%url 'userapi:signup'%}">
        {% csrf_token %}
        <input type="email" placeholder="Enter Email Address" name="email" required>
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password"  required>
        <button>Sign Up</button>
        <p class="message">
          Already registered? <a href="{%url 'userapi:login'%}">Login</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
