{% extends 'userapi/base.html' %}
{% load static %}

{% block title %}Sign Up | {% endblock %}

{% block content1 %}
<!-- Inner Banner Area -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Sign Up</h3>
      <ul>
        <li>
          <a href={% url "userapi:home" %}>Home</a>
        </li>
        <li>
          <i class='bx bx-chevron-right'></i>
        </li>
        <li>Sign Up</li>
      </ul>
    </div>
  </div>

  <div class="inner-banner-shape">
    <div class="shape-one">
      <img src="{% static 'assets/img/inner-banner/banner-shape1.png' %}" alt="Images">
    </div>

    <div class="shape-two">
      <img src="{% static 'assets/img/inner-banner/banner-shape2.png' %}" alt="Images">
    </div>

    <div class="shape-three">
      <img src="{% static 'assets/img/inner-banner/banner-shape3.png' %}" alt="Images">
    </div>

    <div class="inner-banner-dots-2">
      <img src="{% static 'assets/img/shape/dots-shape.png' %}" alt="Images">
    </div>
  </div>
</div>
<!-- Inner Banner Area End -->

<!-- Sign Up Area -->
<div class="sign-up-area pt-50 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <span class="sp-before sp-after">Sign Up</span>
      <h2 class="h2-color">Create an Account!</h2>
    </div>
    <div class="row align-items-center pt-45">
      <div class="col-lg-5">
        <div class="user-all-img">
          <img src="{% static 'assets/img/faq-img.png' %}" alt="Images">
        </div>
      </div>

      <div class="col-lg-7">
        <div class="user-all-form">
          <div class="contact-form">
            <div class="container mb-2">
              {% if messages %}
              {% for message in messages %}
              <div class="text-danger" data-display-time="6000"><strong>{{ message }}</strong></div>
              {% endfor %}
              {% endif %}
            </div>
            <form method="POST" action="{%url 'userapi:signup'%}">
              <div class="row">
                <div class="col-lg-12 ">
                  <div class="form-group">
                    <i class='bx bx-user'></i>
                    <input type="text" name="username" id="username" class="form-control" required
                      data-error="Please enter your Username" placeholder="Username">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <i class='bx bx-mail-send'></i>
                    <input type="email" name="email" id="email" class="form-control" required
                      data-error="Please enter email" placeholder="Email">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <i class='bx bx-lock-alt'></i>
                    <input class="form-control" type="password" name="password" id="password-input"
                      placeholder="Password">
                    <input type="checkbox" id="chb2" onclick="togglePassword()">
                    <label for="chb2">
                      Show Password
                    </label>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 text-center">
                  <button type="submit" class="default-btn">
                    Sign Up
                    <i class='bx bx-plus'></i>
                  </button>
                </div>

                <div class="col-12">
                  <p class="account-desc">
                    Already have an account?
                    <a href={% url "userapi:login" %}>Sign In</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Sign Up Area End -->
{% endblock content1 %}