{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '' %}media/icon.png" type="image/x-icon">
    <!--plugins-->
    <link href="{% static '' %}bs/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '' %}bs/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}bs/plugins/metismenu/mm-vertical.css">
    <!--main css-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="{% static '' %}bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '' %}bs/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" rel="stylesheet">
    <link href="{% static '' %}bs/sass/main.css" rel="stylesheet">
    <link href="{% static '' %}bs/sass/responsive.css" rel="stylesheet">
    {% block head %}{% endblock %}
    <style>
      @media (max-width: 767px) {
        ::placeholder {
          font-size: 12px;
        }
      }
    </style>
  </head>

  <body>
    <script src="{% static '' %}bs/js/jquery.min.js"></script>
    {% block content %}{% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.alert').each(function () {
          // Set a timeout to hide the message after the specified display time
          setTimeout(() => {
            $(this).hide();
          }, 10000);
        });

        $("#show_hide_password a").on('click', function (event) {
          event.preventDefault();
          if ($('#show_hide_password input').attr("type") == "text") {
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass("bi-eye-slash-fill").removeClass("bi-eye-fill");
          } else if ($('#show_hide_password input').attr("type") == "password") {
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
          }
        });
      });
    </script>
  </body>

</html>