{% extends "userapi/base.html" %}
{% load static %}

{% block head %}
<title>Dashboard - MassNova</title>
{% endblock %}

{% block content %}
{% include "userapi/dashboard_header.html" %}
<!--start main wrapper-->
<main class="main-wrapper">
  <div class="main-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">MassNova</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
        <a href={% url "userapi:instagram-accounts" %} class="btn btn-primary" style="color: white;">
          Settings
          <i class="bx bx-cog"></i>
        </a>
      </div>
    </div>
    <!--end breadcrumb-->
    <!-- Charts -->
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="card">
          <div class="card-header py-3">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Followers History</h5>
              <!-- <div class="dropdown">
                <a href="javascript:;" class="dropdown-toggle-nocaret options dropdown-toggle" data-bs-toggle="dropdown">
                  <span class="material-icons-outlined fs-5">more_vert</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <div id="followersChart"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="card">
          <div class="card-header py-3">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Engagement Rate</h5>
              <!-- <div class="dropdown">
                <a href="javascript:;" class="dropdown-toggle-nocaret options dropdown-toggle" data-bs-toggle="dropdown">
                  <span class="material-icons-outlined fs-5">more_vert</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <div id="engagementRateChart"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header py-3">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Likes and Comments</h5>
              <!-- <div class="dropdown">
                <a href="javascript:;" class="dropdown-toggle-nocaret options dropdown-toggle" data-bs-toggle="dropdown">
                  <span class="material-icons-outlined fs-5">more_vert</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <div id="likeCommentChart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--end main wrapper-->

{% include "userapi/dashboard_footer.html" %}

<script src="{% static '' %}bs/plugins/apexchart/apexcharts.min.js"></script>
<script>
  var options = {
    chart: {
      type: "area",
    },
    dataLabels: {
      enabled: false
    },
    series: [{
      name: 'sales',
      data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
    }],
    fill: {
      type: "gradient",
      gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.7,
        opacityTo: 0.9,
        stops: [0, 90, 100]
      }
    },
    xaxis: {
      categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
    },
    stroke: {
      curve: 'smooth',
    }
  }

  new ApexCharts($("#followersChart")[0], options).render();

  var options = {
    chart: {
      type: "radialBar",
    },
    series: [67],
    colors: ["#87D4F9"],
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 135,
        track: {
          background: '#333',
          startAngle: -135,
          endAngle: 135,
        },
        dataLabels: {
          name: {
            show: false,
          },
          value: {
            fontSize: "30px",
            show: true
          }
        }
      }
    },
    fill: {
      type: "gradient",
      gradient: {
        shade: "dark",
        type: "horizontal",
        gradientToColors: ["#20E647"],
        stops: [0, 100]
      }
    },
    stroke: {
      lineCap: "butt"
    },
    labels: ["Progress"]
  };

  new ApexCharts($("#engagementRateChart")[0], options).render();

  var options = {
    series: [{
      name: 'Likes',
      data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
    },
    {
      name: 'Comments',
      data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
    }],
    chart: {
      width: "100%",
      height: 380,
      type: 'bar',
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: '50%',
        endingShape: 'rounded'
      },
    },
    stroke: {
      show: true,
      width: 4,
      colors: ['transparent']
    },
    dataLabels: {
      enabled: false
    },
    colors: ["#87D4F9", "#20E647"],
    xaxis: {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    },
    yaxis: {
      title: {
        text: 'Count'
      }
    },
  };

  new ApexCharts($("#likeCommentChart")[0], options).render();

</script>
{% endblock %}