{% load static %}

<!--start primary menu offcanvas-->
<div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasPrimaryMenu">
    <div class="offcanvas-header border-bottom h-70">
        <img src="{% static '' %}media/Logo Black Font re.png" width="160" alt="MassNova Logo">
        <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
            <i class="material-icons-outlined">close</i>
        </a>
    </div>
    <div class="d-flex align-items-center offcanvas-body">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="sidenav">
                <li>
                    <a href={% url "userapi:accounts" %} title="Dashboard">
                        <div class="parent-icon"><i class="bx bx-home-alt bx-sm"></i></div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href={% url "userapi:accounts" %}>
                        <div class="parent-icon"><i class='bx bxl-instagram bx-sm'></i></div>
                        <div class="menu-title">Instagram Accounts</div>
                    </a>
                </li>
                <li>
                    <a href={% url "userapi:targets" %}>
                        <div class="parent-icon"><i class='bx bxs-layer bx-sm'></i></div>
                        <div class="menu-title">Targets</div>
                    </a>
                </li>
                <li>
                    <a href={% url "userapi:activity-logs" %}>
                        <div class="parent-icon"><i class='bx bx-history'></i></div>
                        <div class="menu-title">Activity Logs</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="parent-icon"><i class='bx bx-cog bx-sm'></i></div>
                        <div class="menu-title">Settings</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--end primary menu offcanvas-->

<!--start user details offcanvas-->
<div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasUserDetails">
    <div class="offcanvas-body">
        <div class="user-wrapper">
            <div class="text-center p-3 bg-light rounded">
                <img src="{% static '' %}users/dummy.jpg" class="rounded-circle p-1 shadow mb-3" width="120" height="120" alt="">
                <h5 class="user-name mb-0 fw-bold">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                <!-- <p class="mb-0">Administrator</p> -->
            </div>
            <div class="list-group list-group-flush mt-3 profil-menu fw-bold">
                <a href={% url "userapi:profile" %} class="list-group-item list-group-item-action d-flex align-items-center gap-2 border-top"><i class="material-icons-outlined">person_outline</i>Profile</a>
                <a href="javascript:;" class="list-group-item list-group-item-action d-flex align-items-center gap-2"><i class="material-icons-outlined">local_bar</i>Settings</a>
                <a href={% url "userapi:accounts" %} class="list-group-item list-group-item-action d-flex align-items-center gap-2">
                    <i class="bx bx-home-alt bx-sm"></i>
                    Dashboard</a>
                <a href={% url "userapi:logout" %} class="list-group-item list-group-item-action d-flex align-items-center gap-2 border-bottom"><i class="material-icons-outlined">power_settings_new</i>Logout</a>
            </div>
        </div>
    </div>
</div>
<!--end user details offcanvas-->

<!--bootstrap js-->
<script src="{% static '' %}bs/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="{% static '' %}bs/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="{% static '' %}bs/plugins/metismenu/metisMenu.min.js"></script>
<script src="{% static '' %}bs/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
<script>
    $(document).ready(function () {
        fetch('/notifications/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {

                // Clear existing notifications
                $("#dynamic-notifications").empty();

                let newNotifications = 0;
                let fiveNotifications = data.slice(0, 5);

                // Loop through the recent entries and add dynamic notifications
                fiveNotifications.forEach(notification => {
                    const timestamp = moment(notification.time_stamp);
                    const timeAgo = timestamp.fromNow();

                    // Determine the class based on whether the notification is read or not
                    const highlightClass = notification.read ? '' : 'bg-primary-subtle';

                    if (!notification.read) {
                        newNotifications += 1;
                    }

                    $("#dynamic-notifications").append(`
                  <div>
                      <a class="dropdown-item border-bottom py-2 ${highlightClass}" href="javascript:;">
                          <div class="d-flex align-items-center gap-3">
                              <div>
                                  <h5 class="text-truncate notify-title" style="max-width: 325px;">${notification.activity}</h5>
                                  <p class="mb-0 notify-time">${timeAgo}</p>
                              </div>
                          </div>
                      </a>
                  </div>
              `);
                });

                if (newNotifications > 0) {
                    $("#newNotifications").removeClass('d-none');
                    $("#newNotifications").append(`${newNotifications}`);
                }
            })
            .catch(error => {
                // Handle network or other errors
                alert('Error retrieving notifications:', error);
            });

        $("#markAllAsRead").click(function () {
            let unread = document.getElementById("newNotifications").innerText;
            if (unread) {
                let form = document.getElementById('notifications-form');
                let csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

                fetch('/notifications/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to mark all notifications as read.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Update the UI or perform any other necessary actions
                        $("#newNotifications").addClass('d-none');
                        let highlightedNotifications = $(".bg-primary-subtle");
                        highlightedNotifications.each(function (index, element) {
                            $(element).removeClass("bg-primary-subtle");
                        });
                    })
                    .catch(error => {
                        console.error('Error marking notifications as read:', error);
                        alert('Error marking notifications as read.');
                    });
            } else {
                alert("No unread notification!");
            }
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>