{% extends 'userapi/base.html' %}
{% load static %}

{% block title %}Dashboard | {% endblock %}

{% block content %}
<!-- Targets Area -->
<div class="container m-3">
    <div class="row pt-45">
        <div class="container mb-2">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-5">
            <div class="d-flex justify-content-between mb-3">
                <h2>Targets</h2>
                <div class="buttons">
                    <button type="button" class="btn btn-primary">
                        <a href={% url "userapi:insta-credentials" %} style="color: white;">
                        Settings
                        <i class="bx bx-cog"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a href={% url "userapi:target-edit" %} style="color: white;">Add new Target</a>
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
            </div>
            <div id="noTargetsMessage" class="d-flex"></div>
            {% if targets %}
            {% for target in targets %}
            <div class="d-flex justify-content-between mb-3 target-item"
                data-insta-username="{{ target.insta_user.username }}">
                <div class="col-lg-7">
                    {{ target.target_type.type }}
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary btn-sm">
                        <a href={% url "userapi:target-edit" target.id %} style="color: white;">Edit</a>
                        <i class="bx bx-edit"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <strong>No Targets Added yet!</strong>
            {% endif %}
        </div>
    </div>
</div>
<!-- Targets Area End -->

<script>
    function togglePopup(popupId, isOpen, instaID = false) {
        var dropdown = document.getElementById('settingsDropdown');
        var instaUsername = dropdown ? dropdown.value : null;
        if (instaUsername === "all" && instaID == true) {
            document.getElementById("no-account").innerText = "Please select account to Edit!";
        }
        else {
            document.getElementById("no-account").innerText = "";
            document.getElementById(popupId).style.display = isOpen ? 'block' : 'none';
            document.body.classList.toggle('popup-open', isOpen);
            if (!instaID || instaUsername === "all") {
                instaUsername = "";
            }
            else {
                if (popupId === "instaPopup") {
                    var form = document.getElementById('instaForm');

                    // Check if the hidden input already exists
                    var existingInput = form.querySelector('input[name="previous_usernme"]');
                    
                    if (existingInput) {
                        // If it exists, update its value
                        existingInput.value = instaUsername;
                    } else {
                    // If it doesn't exist, create a new input element
                    var hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = 'previous_usernme';
                    hiddenInput.value = instaUsername;

                    // Append the hidden input to the form
                    form.appendChild(hiddenInput);
                    }
                }
            }
            document.getElementById('username').value = instaUsername;
            document.getElementById('password-input').value = "";
        }
    }

    function displayInstaTargets() {
        var instaUsername = document.getElementById('settingsDropdown').value;
        var allTargets = document.querySelectorAll('.target-item');
        var targetsFound = false;

        allTargets.forEach(function (target) {
            var targetInstaUsername = target.getAttribute('data-insta-username');
            if (instaUsername === 'all' || targetInstaUsername === instaUsername) {
                target.classList.add('d-flex');
                target.classList.remove('d-none');
                targetsFound = true;
            } else {
                target.classList.remove('d-flex');
                target.classList.add('d-none');
            }
        });

        // Show or hide the message based on whether targets are found
        if (!targetsFound && allTargets.length > 0) {
            document.getElementById('noTargetsMessage').innerText = "No targets found for the selected Account.";
        }
        else {
            document.getElementById('noTargetsMessage').innerText = "";
        }

        // Close the popup
        togglePopup('settingsPopup', false);
    }
</script>
{% endblock %}