{% load static %}
<!--start header-->
<header class="top-header">
    <nav class="navbar navbar-expand align-items-center justify-content-between gap-3">
        <div class="btn-toggle">
            <a href="#offcanvasPrimaryMenu" data-bs-toggle="offcanvas"><i class="material-icons-outlined">menu</i></a>
        </div>
        <div class="search-bar w-50">
            <div class="position-relative">
                <p style="text-align: center; margin-top: 10px !important;"><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
            </div>
        </div>
        <form id="notifications-form">
            {% csrf_token %}
            <ul class="navbar-nav gap-1 nav-right-links align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="javascript:;"><i class="material-icons-outlined">notifications</i>
                        <span class="badge-notify d-none" id="newNotifications"></span>
                    </a>
                    <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                        <div class="px-3 py-1 d-flex align-items-center justify-content-between border-bottom">
                            <h3 class="fw-bold">Notifications</h3>
                            <a class="notify-time" href="javascript:;" id="markAllAsRead">Mark all as read</a>
                            {% comment %}
                            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret option" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-icons-outlined">
                                    more_vert
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-option dropdown-menu-end shadow">
                                <div>
                                </div>
                            </div>
                            {% endcomment %}
                        </div>
                        <div class="notify-list mb-0" id="dynamic-notifications" style="max-height: 285px; height:auto;"><!-- Dynamic content will be added here --></div>
                        <a class="dropdown-item text-end" href={% url "userapi:activity-logs" %}>See More...</a>
                    </div>
                </li>
            </ul>
        </form>
    </nav>
</header>
<!--end top header-->

<!--start mini sidebar-->
<aside class="mini-sidebar d-flex align-items-center flex-column justify-content-between">
    <div class="user">
        <a href="#offcanvasUserDetails" data-bs-toggle="offcanvas" class="user-icon">
            <i class="material-icons-outlined">account_circle</i>
        </a>
    </div>
    <div class="quick-menu ps">
        <nav class="nav flex-column gap-1">
            <a class="nav-link" href={% url "userapi:accounts" %} data-toggle="tooltip" data-bs-placement="right" title="Dashboard"><i class="bx bx-home-alt bx-sm"></i></a>
            <a class="nav-link" href={% url "userapi:accounts" %} data-toggle="tooltip" data-bs-placement="right" title="Instagram Accounts"><i class='bx bxl-instagram bx-sm'></i></a>
            <a class="nav-link" href={% url "userapi:targets" %} data-toggle="tooltip" data-bs-placement="right" title="Targets"><i class='bx bxs-layer bx-sm'></i></a>
            <a class="nav-link" href={% url "userapi:activity-logs" %} data-toggle="tooltip" data-bs-placement="right" title="Activity Logs"><i class='bx bx-history bx-sm'></i></a>
            <a class="nav-link" href="#" data-toggle="tooltip" data-bs-placement="right" title="Settings"><i class='bx bx-cog bx-sm'></i></a>
        </nav>
    </div>
    <div class="mini-footer"></div>
</aside>
<!--end mini sidebar-->