{% extends "userapi/base.html" %}
{% load static %}

{% block head %}
<title>Forgot Password | MassNova</title>
<meta property="og:url" content={% url "userapi:forgot-password" %} />
<link rel="canonical" href={% url "userapi:forgot-password" %} />
<link rel="alternate" href={% url "userapi:forgot-password" %} hreflang="x-default" />
{% endblock head %}

{% block content %}
<!--authentication-->
<div class="section-authentication-cover">
    <div class="">
        <div class="row g-0">
            <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex border-end">
                <div class="card rounded-0 mb-0 border-0 shadow-none bg-transparent">
                    <div class="card-body">
                        <img src="{% static '' %}bs/images/auth/reset-password1.png" class="img-fluid auth-img-cover-login" width="500" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
                <div class="card rounded-0 m-3 mb-0 border-0 shadow-none">
                    <div class="card-body">
                        <a href={% url "userapi:index" %}><img src="{% static '' %}media/Logo Black Font re.png" width="200" alt=""></a>
                        <h4 class="fw-bold">Forgot Password?</h4>
                        <p class="mb-0">Enter your registered email ID to reset the password</p>
                        <div class="container mb-2">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-body mt-2">
                            <form class="row g-3" method="POST" action="{% url 'userapi:forgot-password' %}">
                                {% csrf_token %}
                                <div class="col-12">
                                    <label class="form-label">Email</label>
                                    <input type="text" name="username" id="name" class="form-control" placeholder="Enter Username or Email" required>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href={% url 'userapi:login' %} class="btn btn-light">Back to Login</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--authentication-->
{% endblock %}