{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% include "userapi/head.html" %}
        <title>Instagram Influencers - Grow With MassNova</title>
        <meta name="description" content="Discover how all the top Instagram influencers grow their Instagram! MassNova helps influencers grow their followers. Learn more NOW!">
        <meta name="twitter:title" content="Instagram Influencers - Grow With MassNova" />
        <meta property="og:title" content="Instagram Influencers - Grow With MassNova" />
        <meta property="og:description" content="Discover how all the top Instagram influencers grow their Instagram! MassNova helps influencers grow their followers. Learn more NOW!" />
        <meta name="twitter:description" content="Discover how all the top Instagram influencers grow their Instagram! MassNova helps influencers grow their followers. Learn more NOW!" />
        <meta property="og:url" content={% url "userapi:instagram-influencers" %} />
        <link rel="canonical" href={% url "userapi:instagram-influencers" %} />
        <link rel="alternate" href={% url "userapi:instagram-influencers" %} hreflang="x-default" />
    </head>

    <body class="h-100">
        {% include "userapi/header.html" %}
        <section id="hero" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="my-3 my-lg-5 col-md-12 col-lg-6 col-xl-6">
                        <div class="label py-2 px-2 mb-3 preheader">Organic Growth As A Service</div>
                        <h1 class="mb-3 h2">Instagram influencers and MassNova</h1>
                        <p class="lead text-black-50">MassNova is quickly becoming the secret weapon for Instagram influencers. We are so confident that you will love it. Stop doing the same chores over and over again, let MassNova handle your Instagram growth and save 2, 4, or even 6 hours every day.</p>
                        <p class="d-none d-lg-block lead text-black-50">Create a MassNova account now or keep reading to find out more.</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                    </div>
                    <div class="col-md-12 offset-lg-1 col-lg-4 col-xl-4">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">
                                <img class="image-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/instagram-followers.png" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img class="lazy br-24" data-src="{% static '' %}img/instagram-influencer.jpg" alt="Instagram influencer example on Instagram">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Get More Followers</div>
                        <h2 class="h3">A fantastic tool for all the top Instagram influencers</h2>
                        <p class="lead text-black-50">Influencer marketing is becoming more popular every day. That means two things. Top Instagram influencers can earn huge amounts of money by becoming brand ambassadors and promoters. But if you want to stay on top of your game, you need to keep your edge. MassNova will help you grow your audience and engagement while saving hours of your precious time every day. </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <p class="h4 mb-3">
                            MassNova is <em>not</em>:
                        </p>
                        <ul class="list-unstyled cross text-dark">
                            <li class="list-item">
                                A low-cost, low-quality automation tool.
                            </li>
                            <li class="list-item ">
                                Overpromising and under-delivering. We guarantee your growth.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 mt-5 mt-lg-0">
                        <p class="h4 mb-3">
                            Here's what MassNova is:
                        </p>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                A dedicated growth service for Instagram influencers.
                            </li>
                            <li class="list-item">
                                The best way to quickly grow real followers and increase engagement.
                            </li>
                            <li class="list-item">
                                An autopilot for your daily Instagram chores that saves you hours of time every day.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center text-left">
                    <div class="col-lg-5">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">best Instagram growth service</div>
                        <h2 class="h3">Growth service designed for Instagram influencers. </h2>
                        <p class="lead text-black-50">MassNova is a must-have if you are serious about influencer marketing. Organically grow your following and engagement without spending hours on manually liking, commenting, and following every day. </p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                        <div class="bg-white shadow-2 px-5 py-5 br-24 mt-5">
                            <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/testimonial-1.jpg" width="24px">@crossfitjunkiesociety <span class="d-block d-lg-inline-flex small text"> / 18.2k Followers</span></p>
                            <blockquote class="lead text-black-50">Good results, a lot more engagement, and way more sales. Exactly what I was looking for from Instagram. Thanks MassNova!</blockquote>
                            <div class="d-lg-flex justify-content-between align-items-center my-3 text-center text-lg-left">
                                <div>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/usa-flag.svg" width="32px">Kelly, Lifestyle Niche</p>
                                </div>
                                <div class="pb-5 pb-lg-0"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 my-5 my-lg-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/easy-to-set-up.svg" alt="an icon showing how easy it is to set up MassNova">
                                    <h3 class="my-3 h4">Easy setup - no install</h3>
                                    <p class="text-black-50 lead">MassNova runs on secure servers. There is no app to install. The setup process is simple and quick.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/more-followers.svg" alt="an icon showing how you can get more followers on Instagram">
                                    <h3 class="my-3 h4">More organic followers</h3>
                                    <p class="text-black-50 lead">MassNova handles your Instagram growth so you can focus on creating great content.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/organic-instagram-growth.svg">
                                    <h3 class="my-3 h4">100% organic growth</h3>
                                    <p class="text-black-50 lead">Tried and tested methods of growth can be easily performed with MassNova's smart features and powerful machine learning algorithms that work for you when you sleep.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/engagement-grows.svg" alt="an icon showing growth in Instagram engagement">
                                    <h3 class="my-3 h4">Helping you get brand deals</h3>
                                    <p class="text-black-50 lead">MassNova allows Instagram influencers to focus on getting more deals and spend less time manually managing their accounts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 mt-5 mt-lg-0">
                                <div class="alert bg-green text-green px-5 py-3">
                                    <p class="font-weight-bold my-3">💡 A sneak-peek into our growth process</p>
                                    <p class="text-black-50">Thousands of Instagram influencers use MassNova to follow/unfollow, like, view stories, and engage with their followers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="users" class="bg-primary-light bg-balloons">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="card shadow-2 br-24 o-hidden">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 col-lg-6 order-lg-2">
                                    <img data-src="{% static '' %}img/used-by-instagram-influencers.jpg" class="card-img-top h-100 lazy" alt="A photo frame of Instagram influencers that use MassNova">
                                </div>
                                <div class="col-md-12 col-lg-6 order-lg-1">
                                    <div class="card-body px-lg-5 pb-5 pb-lg-0">
                                        <div class="label py-2 px-2 mb-3 preheader">Thousands of MassNova Users</div>
                                        <h3>Creators, Influencers, and brand builders love us</h3>
                                        <p class="my-3 text-black-50">If you are serious about influencer marketing and monetizing your feed and stories, you need to spend less time doing the repetitive, time consuming “chores” and put that time into growing your business. MassNova is here to help by performing a vast majority of your Instagram tasks, saving you time, and bringing in new followers every day.</p>
                                        <p class="lead text-black-50">Do what the top Instagram influencers do. Let us handle your Instagram growth and attract more brands to your profile.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="setup" class="pb-5">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Grow Your Instagram Faster</div>
                        <h2 class="h2 mb-3">How MassNova Works</h2>
                        <p class="lead text-black-50">Setting up MassNova is quick and easy. You only need 5-10 minutes to set up your account and MassNova will start growing your account - bringing in new, relevant followers for years to come. It’s THE must-have tool for influencer marketing. </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5 mb-lg-0">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Following & unfollowing</h2>
                        <p class="lead text-black-50">Tried and tested method of following and unfollowing accounts is still one of the best strategies to grow your account. The only problem - It can be a full-time job to manage your profile manually. Save hours every day with MassNova - we'll do this entire process for you.</p>
                        <p class="lead text-black-50">Target followers that will boost the value of your Instagram account with pinpoint accuracy with MassNova’s advanced targeting features. </p>
                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="position-absolute o-hidden h-100 br-24 vertical-gradient vertical-gradient-md zi-0 px-2">
                                <img class="rellax rellax-fix" data-rellax-speed="2" src="{% static '' %}img/more-instagram-followers.jpg" alt="a screenshot of a user getting more Instagram followers and likes">
                            </div>
                            <div class="asset-support">
                                <img class="faster-1 zi-1 br-24 shadow-2" src="{% static '' %}img/graph-organic-instagram-followers.jpg" data-aos="fade-up" alt="graph depicting organic instagram followers">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10 mt-5 mt-lg-0">
                        <div class="alert bg-green text-green px-5 py-3">
                            <p class="font-weight-bold my-3">Clean up your feed</p>
                            <p class="text-black-50">With MassNova muting followed accounts, we keep your Instagram feed clean. You can always white-list accounts you want to follow.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="morefeatures">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Like comments, react, view stories</h2>
                        <p class="lead text-black-50">High engagement with comments and reacting to posts is a shortcut to a high volume growth every Instagram influencer should use to boost the value of their account and attract more brand deals. </p>
                        <p class="lead text-black-50">MassNova will take the wheel and put your Instagram engagement at the top of our priority list - creating hours of free time for you every day.</p>
                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container shadow-0 mx-auto mb-5 mb-lg-0">
                            <div class="asset-support">
                                <img class="hashtag-2 zi-1" src="{% static '' %}img/stories-viewing.svg" width="100px" data-aos="fade-up" alt="icon for Instagram stories viewing">
                                <img class="discovery-1 zi-1 br-24 shadow-2 lazy" data-src="{% static '' %}img/graph-stories-viewed.png" data-aos="fade-up">
                            </div>
                            <img class="h-100 lazy br-24 shadow-2" data-src="{% static '' %}img/instagram-influencers-story.jpg" alt="a screenshot of Instagram influencers posting a story">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hashtags">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader">Influencer Feature</div>
                        <h2 class="h3 mb-3">Engagement rate driven</h2>
                        <p class="lead text-black-50">Your Instagram account is your capital, treat it well. Research done amongst influencer marketing managers shows that they look at 2 metrics when choosing their brand ambassador - Number of followers and engagement rate.</p>
                        <p class="lead text-black-50">MassNova will grow your following and boost your engagement rate by doing your daily Instagram chores, saving you time and increasing the value of your account. Up your influencer marketing game with MassNova. Grow your audience and connect with hyper-engaged audiences.</p>
                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/hashtag-5.png" data-aos="fade-up">
                                <img class="hashtag-2 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/instagram-user-follower-2.png" data-aos="fade-up">
                                <img class="faster-1 zi-1 lazy br-24 shadow-2" data-src="{% static '' %}img/hashtag-photograph-instagram-impressions.png" data-aos="fade-up">
                            </div>
                            <img class="br-24 shadow-2 lazy" data-src="{% static '' %}img/similar-users.jpg" alt="similar users on Instagram being followed">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <div class="alert alert-primary text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Need ideas for your captions?</p>
                            <p>MassNova has a built-in hashtag generator that will help you decide what hashtags to use in your posts. Copy hashtags to your clipboard, see relevant posts, and get new ideas for your content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="signup-banner" class="py-0">
            <div class="container">
                <div class="row mx-0 px-3 px-lg-5 py-5 my-lg-5 text-left align-items-center position-relative justify-content-center bg-pattern-light border border-light o-hidden">
                    <img class="background-image d-none d-lg-flex right bottom position-absolute opacity-10 rotate-min-30 lazy" data-src="{% static '' %}img/instagram-carousel-background-small.png" alt="a carousel of Instagram posts">
                    <div class="col-md-12 col-lg-6">
                        <div class="alert alert-primary bg-primary-light br-24 d-inline-block small">Updated on <span class="date"></span></div>
                        <p class="h2">Signups close in <span id="deadline" class="d-inline"><span class="values text-dark"></span></span></p>
                        <hr class="border border-primary">
                        <p class="my-2">We take pride in what we do. Our dedicated customer success team is always available to our customers and we make sure to personally help you if you ever get stuck. We are focused on quality. That is why we have a limited amount of slots available each month. Make sure to subscribe now.</p>
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">
                        <div class="d-inline-block z-index-2">
                            <p>Enter your email to start growing your Instagram:</p>
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now </button>
                            </form>
                            <span class="d-block text-light-50 small my-3">2 Minutes Setup • Real Results • Grow Your Instagram</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="featureboxes" class="pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">And so much more</div>
                        <h2 class="h3">Take your influencer marketing game to the next level</h2>
                        <p class="lead text-black-50">If you are serious about influencer marketing, MassNova is the service for you. Our automagically optimized features will help you grow your following and engagement rate. It's our promise that we'll save countless hours of your precious time. And our friendly customer success team is always here if you need help. </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="h4">Advanced Settings</h3>
                        <img class="my-3" src="{% static '' %}img/features.svg" width="100px" alt="features icon">
                        <p class="text-black-50 lead">Fine-tune your account with advanced settings like location, follower size, post age, and more.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Clear Activity Feed</h3>
                        <img class="my-3" src="{% static '' %}img/white-listing.svg" width="100px" alt="whitelisting and export feature icon">
                        <p class="text-black-50 lead">Transparent activity feed will always let you know what MassNova is doing for you.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Blacklist & Whitelist</h3>
                        <img class="my-3" src="{% static '' %}img/auto-blacklist.svg" width="100px" alt="Icon for auto blacklisting users on MassNova">
                        <p class="text-black-50 lead">If there are accounts you want to always see in your feed, you can whitelist them in the settings.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Export Results</h3>
                        <img class="my-3" src="{% static '' %}img/testimonials.svg" width="100px" alt="chat bubble icon">
                        <p class="text-black-50 lead">MassNova’s PDF export makes it easy for you to export your account info and send it to a brand representative.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-0 mt-lg-5 align-items-center">
                    <div class="col-lg-4 order-lg-2">
                        <div class="shadow-2 text-right o-hidden">
                            <div class="pt-5 pb-2 px-5">
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <img src="{% static '' %}img/organic-instagram-growth.svg" width="96px">
                                    <div>
                                        <div class="px-2 py-2 preheader gray text-black-50 mr-0 text-right">☕ $3.96 per day</div>
                                        <p class="text-black-50 font-weight-bold mr-0 mr-lg-1 mt-2">Billed at $119<sub>/ mo</sub></p>
                                    </div>
                                </div>
                                <div class="text-left pt-3">
                                    <p class="h3 my-3">Get Started</p>
                                    <ul class="list-unstyled check text-left text-black-50">
                                        <li class="list-item">
                                            Organic Instagram Followers
                                        </li>
                                        <li class="list-item">
                                            Meaningful engagement
                                        </li>
                                        <li class="list-item">
                                            Advanced analytics
                                        </li>
                                        <li class="list-item">
                                            Costs less than your daily cup of coffee ☕
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href={% url "userapi:signup" %} class="mt-5 btn btn-light btn-block" data-toggle="modal" data-target="#signup">Choose this plan 👈</a>
                            <a href={% url "userapi:pricing" %} class="btn my-0 btn-dark text-white-light btn-block">Or learn more about pricing</a>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's MassNova?</h3>
                                <p class="text-black-50">MassNova helps grow your following, boost your engagement, and up your Instagram influencer game. We don’t sell fake or ghost followers. We help you reach real, interested, and engaged followers.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's the growth like?</h3>
                                <p class="text-black-50">The majority of MassNova customers see growth of hundreds of followers in the first few days to two weeks. These results improve over time as your settings are improved.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">It'll pay for itself</h3>
                                <p class="text-black-50">Our premium plan that includes follow and engagement automation, hashtag generator, and all the bells and whistles starts at only $119 per month, with more affordable options available.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Any free trial?</h3>
                                <p class="text-black-50">We are committed to providing industry-leading quality and service. We carefully review and onboard every account. Our model can’t support the free trial model.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-lg-0">
            <div class="container">
                <div class="row my-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-8">
                        <div class="label py-2 px-2 mb-3 preheader green">Best Instagram Growth Service</div>
                        <p class="h2 mb-3">Join top Instagram influencers</p>
                        <p class="text-black-50 lead">If you are an Instagram influencer who is serious about influencer marketing, you need to spend more time creating awesome content and reaching out to brands. Let MassNova do all the heavy lifting for your growth and engagement.</p>
                    </div>
                </div>
                <div class="row my-5 justify-content-center align-items-center">
                    <div class="col-md-12 col-lg-5 col-xl-4">
                        <div class="label py-2 px-2 mb-3 preheader gray">Learn More</div>
                        <h2 class="h3 mb-3">Your premier Instagram growth service</h2>
                        <p class="lead text-black-50">MassNova's more than just a way to get you more followers - it's your new, shiny Instagram growth service. We pride ourselves on our <a href={% url "userapi:features" %}> features</a>, cost-effective <a href={% url "userapi:pricing" %}>pricing</a>, and stellar support. </p>
                        <p class="lead text-black-50">If you are still on the fence, <a href={% url "userapi:contact" %}>drop us a line</a> with your questions. We will be happy to help you with anything Instagram related! </p>
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Join MassNova</button>
                        </form>
                    </div>
                    <div class="col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                        <div class="asset-container mx-auto br-0 shadow-none">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">

                            </div>
                            <video class="br-24 shadow-2" src="{% static '' %}video/get-nitreo-instagram-growth.mp4" poster="{% static '' %}img/get-nitreo-instagram-growth-poster.png" autoplay loop muted preload="auto"></video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="support" class="py-0">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <h2 class="mb-3">Dedicated customer success + influencer marketing services</h2>
                        <p class="lead text-black-50">We understand Instagram influencers - many of our team members run successful Instagram accounts themselves. You are never alone with MassNova. If you ever get stuck, reach out to our dedicated customer success team and we will get back to you ASAP!
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                        </form>
                        <span class="d-block text-white-50 small my-3">2 Minutes Setup • Real Results • Get Instagram Followers Fast</span>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <img data-src="{% static '' %}img/customer-success.jpg" class="mw-100 lazy" alt="Portrait photo of the MassNova customer success manager">
                    </div>
                </div>
            </div>
        </section>
        {% include "userapi/footer.html" %}
    </body>

</html>