{% extends 'userapi/base.html' %}
{% load static %}

{% block head %}
<title>Insta Credentials - MassNova</title>
{% endblock %}

{% block content %}
{% include "userapi/dashboard_header.html" %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">MassNova</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">Insta Credentials</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <!-- Insta Credentials Area -->
        <div class="col-12">
            <div class="container mb-2">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="container p-0 m-2">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div class="col-lg-8 flex-wrap p-1">
                                    <h4>Insta Credentials</h4>
                                </div>
                                <div class="col-lg-4 text-lg-end mt-lg-0 mx-2">
                                    <button type="button" class="btn btn-primary" onclick="openModal('addEdit')">Add New<i class='bx bx-plus'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 64%;">Usernames</th>
                                    <th class="text-center" colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if insta_creds %}
                                {% for insta_cred in insta_creds %}
                                <tr>
                                    <td>{{ insta_cred.username }}</td>
                                    <td class="text-end">
                                        <button type="button" class="btn btn-primary btn-sm me-2" onclick="openModal('addEdit', '{{ insta_cred.username }}')">
                                            Edit
                                            <i class='bx bx-edit'></i>
                                        </button>
                                    </td>
                                    <td class="text-start">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="openModal('deleteModal', '{{ insta_cred.username }}')">
                                            Delete
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <strong>No Insta Account Added against Your Account!</strong>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Insta Credentials Area End -->
    </div>
</main>

<!-- Add/Edit Modal -->
<div class="modal fade" id="addEdit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Insta Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row g-3" action={% url "userapi:insta-credentials" %} method="POST" id="addEditForm">
                {% csrf_token %}
                <input type="hidden" name="previous_username">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Your Insta Username</label><br>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Your Insta Password</label><br>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
                            <a href="#" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save <i class='bx bx-save'></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel <i class='bx bx-x'></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add/Edit Modal End -->

<!-- Delete Modal -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Insta Credential</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>
                    <span>Are you sure to delete</span>
                    <span id="delete-content"></span>
                    <span>from your account?</span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteInstaCred()">
                    Delete
                    <i class='bx bx-trash'></i>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel<i class='bx bx-x'></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal End -->

{% include "userapi/dashboard_footer.html" %}

<script>
    function openModal(modalId, username = null) {
        if (modalId === 'addEdit') {
            var form = document.getElementById('addEditForm');
            form.querySelector('input[name="previous_username"]').value = username;
            form.querySelector('input[name="username"]').value = username;
            form.querySelector('input[name="password"]').value = "";
        }
        else {
            document.getElementById('delete-content').innerText = username;
        }
        var myModal = new bootstrap.Modal(document.getElementById(modalId));
        myModal.show();
    }

    function deleteInstaCred() {
        var username = document.getElementById("delete-content").innerText;
        var url = `/insta-credential/${username}/`;
        var form = document.getElementById('addEditForm');
        let csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
        })
            .then(response => {
                if (response.ok) {
                    // Handle success (e.g., show a success message, refresh the page)
                    window.location.pathname = '/insta-credentials/';
                }
            })
            .catch(error => {
                // Handle network or other errors
                alert('Error during delete request:', error);
            });

    }
</script>
{% endblock %}