{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% include "userapi/head.html" %}
        <title>Instagram Growth Service - Get The Best - MASSNOVA</title>
        <meta name="description" content="MASSNOVA is the best Instagram growth service that gets you more followers organically. Start getting more followers faster with MASSNOVA. Join NOW!">
        <meta property="og:title" content="Instagram Growth Service - Grow With MASSNOVA" />
        <meta property="og:description" content="MASSNOVA is the best Instagram growth service that gets you more followers organically. Start getting more followers faster with MASSNOVA. Join NOW!" />
        <meta name="twitter:title" content="Instagram Growth Service - Grow With MASSNOVA" />
        <meta name="twitter:description" content="MASSNOVA is the best Instagram growth service that gets you more followers organically. Start getting more followers faster with MASSNOVA. Join NOW!" />
        <meta property="og:url" content={% url "userapi:instagram-growth-service" %} />
        <link rel="canonical" href={% url "userapi:instagram-growth-service" %} />
        <link rel="alternate" href={% url "userapi:instagram-growth-service" %} hreflang="x-default" />

    </head>

    <body class="h-100">
        {% include "userapi/header.html" %}
        <section id="hero" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="my-3 my-lg-5 col-md-12 col-lg-6 col-xl-6">
                        <div class="label py-2 px-2 mb-3 preheader">Organic Growth As A Service</div>
                        <h1 class="mb-3">Your #1 Instagram Growth Service</h1>
                        <p class="lead text-black-50">MASSNOVA is your premier Instagram growth service. Learn more how MASSNOVA helps thousands of users on Instagram grow their audience with loyal, engaging followers!</p>
                        <p class="d-none d-lg-block lead text-black-50">Get started now or keep scrolling and learn more about MASSNOVA.</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                    </div>
                    <div class="col-md-12 offset-lg-1 col-lg-4 col-xl-4">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">
                                <img class="image-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/instagram-followers.png" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img class="lazy br-24" data-src="{% static '' %}img/instagram-manager.jpg" alt="Instagram manager example">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Get More Followers</div>
                        <h2 class="h3">Why MASSNOVA is the best organic Instagram growth service</h2>
                        <p class="lead text-black-50">MASSNOVA was ranked highest among organic Instagram services for growth across the globe in 2019. By using MASSNOVA, you're able to get Instagram followers faster, but also build a meaningful, engaged audience along the way. Here's what MASSNOVA is, and what it isn't: </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <p class="h4 mb-3">
                            MASSNOVA is <em>not</em>:
                        </p>
                        <ul class="list-unstyled cross text-dark">
                            <li class="list-item">
                                A tool that gets you ghost followers
                            </li>
                            <li class="list-item ">
                                A growth service that underdelivers
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 mt-5 mt-lg-0">
                        <p class="h4 mb-3">
                            Here's what MASSNOVA is:
                        </p>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                An organic Instagram growth tool built for people like you
                            </li>
                            <li class="list-item">
                                An Instagram management tool that helps you get more followers
                            </li>
                            <li class="list-item">
                                A way of building a hyper-engaged audience that converts
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center text-left">
                    <div class="col-lg-5">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">best Instagram growth service</div>
                        <h2 class="h3">Like having your own Instagram manager</h2>
                        <p class="lead text-black-50">MASSNOVA is like having your own Instagram management service. As our customers say, MASSNOVA's like having your very own <a href="instagram-manager.html">Instagram manager</a>, that helps you pick up more followers and build an engaged audience without any aches or pains along the way.</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                        <div class="bg-white shadow-2 px-5 py-5 br-24 mt-5">
                            <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/testimonial-1.jpg" width="24px">@crossfitjunkiesociety <span class="d-block d-lg-inline-flex small text"> / 18.2k Followers</span></p>
                            <blockquote class="lead text-black-50">Good results, a lot more engagement, and way more sales. Exactly what I was looking for from Instagram. Thanks MASSNOVA!</blockquote>
                            <div class="d-lg-flex justify-content-between align-items-center my-3 text-center text-lg-left">
                                <div>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/usa-flag.svg" width="32px">Kelly, Lifestyle Niche</p>
                                </div>
                                <div class="pb-5 pb-lg-0"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 my-5 my-lg-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/easy-to-set-up.svg" alt="an icon showing how easy it is to set up MASSNOVA">
                                    <h3 class="my-3 h4">Setting up is easy</h3>
                                    <p class="text-black-50 lead">Hook up your Instagram account and let us know what your account is about, and you're ready to go!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/more-followers.svg" alt="an icon showing how you can get more followers on Instagram">
                                    <h3 class="my-3 h4">Organic Instagram growth</h3>
                                    <p class="text-black-50 lead">You'll pick up more Instagram followers with MASSNOVA, and results will keep improving over time.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/organic-instagram-growth.svg">
                                    <h3 class="my-3 h4">Grow your engagement</h3>
                                    <p class="text-black-50 lead">Your engagement across the board ends up growing as you pick up more followers with our organic growth service.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/engagement-grows.svg" alt="an icon showing growth in Instagram engagement">
                                    <h3 class="my-3 h4">Instagram management</h3>
                                    <p class="text-black-50 lead">MASSNOVA acts like your easy-to-use Instagram management service. Grow around the clock, without any aches or pains.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 mt-5 mt-lg-0">
                                <div class="alert bg-green text-green px-5 py-3">
                                    <p class="font-weight-bold my-3">💡 Want a quick overview of what we do?</p>
                                    <p class="text-black-50">MASSNOVA has been dubbed the best Instagram growth tool on the market, and we've got results to back it up. To get a fast, clean overview, check out our homepage to find out how we get you more <a href="index.html">Instagram followers</a> around the clock!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="users" class="bg-primary-light bg-balloons">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="card shadow-2 br-24 o-hidden">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 col-lg-6 order-lg-2">
                                    <img data-src="{% static '' %}img/nitreo-used-by.jpg" class="card-img-top h-100 lazy" alt="photo frames of MASSNOVA users">
                                </div>
                                <div class="col-md-12 col-lg-6 order-lg-1">
                                    <div class="card-body px-lg-5 pb-5 pb-lg-0">
                                        <div class="label py-2 px-2 mb-3 preheader">Thousands of MASSNOVA Users</div>
                                        <h3>Creators, businesses, agencies & managers</h3>
                                        <p class="my-5 text-black-50">Thousands of Instagrammers around the world currently use MASSNOVA as their first-class solution to growing their Instagram account. These include <a href="instagram-creator-account.html">Instagram creators</a> who carefully craft their content, <a href="instagram-for-business.html">businesses on Instagram</a> who are looking to drum up more sales, and social media managers who may work for an <a href="instagram-agency.html">Instagram agency</a>.</p>
                                        <p class="lead text-black-50">No matter what type of Instagrammer you are - MASSNOVA is here to help you grow your Instagram with more likes, followers, and engagement.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="setup" class="pb-5">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Grow Your Instagram Faster</div>
                        <h2 class="h2 mb-3">How MASSNOVA Works</h2>
                        <p class="lead text-black-50">Getting MASSNOVA to work is as easy as pie. And as the primary way to grow your Instagram organically, there's so much more to MASSNOVA than meets the eye. Here's a snapshot of some of our features! </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5 mb-lg-0">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Following & unfollowing</h2>

                        <p class="lead text-black-50">MASSNOVA uses the follow & unfollow method to get you the right results faster. It's the undisputed number one way of growing your Instagram account. This method, coupled with our other features (scroll down!) will get you growing in no-time.</p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Send a strong signal to users to follow you back
                            </li>
                            <li class="list-item">
                                An easy, no-frills way of growing your account
                            </li>
                            <li class="list-item">
                                It's the most trackable, proven growth strategy
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="position-absolute o-hidden h-100 br-24 vertical-gradient vertical-gradient-md zi-0 px-2">
                                <img class="rellax rellax-fix" data-rellax-speed="2" src="{% static '' %}img/more-instagram-followers.jpg" alt="a screenshot of a user getting more Instagram followers and likes">
                            </div>
                            <div class="asset-support">
                                <img class="faster-1 zi-1 br-24 shadow-2" src="{% static '' %}img/graph-organic-instagram-followers.jpg" data-aos="fade-up" alt="graph depicting organic instagram followers">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10 mt-5 mt-lg-0">
                        <div class="alert bg-green text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Clean newsfeed? Yes please!</p>
                            <p class="text-black-50">MASSNOVA mutes followers we've followed on your behalf, meaning you'll never miss a moment with your friends, family, and your favourite <a href="instagram-creator-account.html">Instagram creators</a>. MASSNOVA was built to add to your Instagram experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="morefeatures">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Instagram Stories, Comment Liking, Live Reactions</h2>
                        <p class="lead text-black-50">Viewing Instagram stories, comment liking, and live reactions are all highly scalable ways of growing your Instagram account. You'll pick up followers faster as MASSNOVA does all these tasks for you automagically! </p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Save 4+ hours a day from manual engagement
                            </li>
                            <li class="list-item">
                                Get noticed by Instagram creators like you
                            </li>
                            <li class="list-item">
                                Engage and pop up in activity feeds
                            </li>
                            <li class="list-item">
                                Get more followers organically
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container shadow-0 mx-auto mb-5 mb-lg-0">
                            <div class="asset-support">
                                <img class="hashtag-2 zi-1" src="{% static '' %}img/stories-viewing.svg" width="100px" data-aos="fade-up" alt="icon for Instagram stories viewing">
                                <img class="discovery-1 zi-1 br-24 shadow-2 lazy" data-src="{% static '' %}img/graph-stories-viewed.png" data-aos="fade-up">
                            </div>
                            <img class="h-100 lazy br-24 shadow-2" data-src="{% static '' %}img/instagram-story-viewer.jpg" alt="a screenshot of an automatically viewed Instagram story">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hashtags">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader">Targeting</div>
                        <h2 class="h3 mb-3">Smart hashtags, similar users, and location 📍</h2>

                        <p class="lead text-black-50">To give your organic growth a boost, we've bundled MASSNOVA with an elite class of targeting tools. Generate smart hashtags on the fly to pinpoint your niche audience, highlight and copy users similar to you, and use location targeting to get followers based on foot traffic. </p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Improved, robust targeting solution
                            </li>
                            <li class="list-item">
                                Get more relevant followers
                            </li>
                            <li class="list-item">
                                Your new followers are highly engaged
                            </li>
                            <li class="list-item">
                                Target sweet-spots based on location or niche hashtags
                            </li>

                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/hashtag-5.png" data-aos="fade-up">
                                <img class="hashtag-2 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/instagram-user-follower-2.png" data-aos="fade-up">
                                <img class="faster-1 zi-1 lazy br-24 shadow-2" data-src="{% static '' %}img/hashtag-photograph-instagram-impressions.png" data-aos="fade-up">

                            </div>
                            <img class="br-24 shadow-2 lazy" data-src="{% static '' %}img/similar-users.jpg" alt="similar users on Instagram being followed">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <div class="alert alert-primary text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Targeting Tip</p>
                            <p>MASSNOVA's <a href="instagram-hashtag-generator.html">hashtag generator</a> can help you improve your targeting now, even if you're acting as your own manual growth service. As a customer, you can always reach out to our customer success team for hints and tips on optimizing your targeting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="signup-banner" class="py-0">
            <div class="container">
                <div class="row mx-0 px-3 px-lg-5 py-5 my-lg-5 text-left align-items-center position-relative justify-content-center bg-pattern-light border border-light o-hidden">
                    <img class="background-image d-none d-lg-flex right bottom position-absolute opacity-10 rotate-min-30 lazy" data-src="{% static '' %}img/instagram-carousel-background-small.png" alt="a carousel of Instagram posts">
                    <div class="col-md-12 col-lg-6">
                        <div class="alert alert-primary bg-primary-light br-24 d-inline-block small">Updated on <span class="date"></span></div>
                        <p class="h2">Signups close in <span id="deadline" class="d-inline"><span class="values text-dark"></span></span></p>
                        <hr class="border border-primary">
                        <p class="my-2">We're limiting signup slots to the public to ensure our customers get the best experience possible. Get started today and start getting more Instagram followers!</p>
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">

                        <div class="d-inline-block z-index-2">
                            <p>Enter your email to start growing your Instagram:</p>
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now</button>
                            </form>
                            <span class="d-block text-light-50 small my-3">2 Minutes Setup • Real Results • Grow Your Instagram</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="featureboxes" class="pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">And so much more</div>
                        <h2 class="h3">And many more features for your Instagram growth</h2>
                        <p class="lead text-black-50">There's so much more to MASSNOVA as a service that gets you organic Instagram growth. Check out our <a href="features.html">features</a> page for a full overview, or check out a snapshot of what you can expect when signing up to MASSNOVA: </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="h4">Advanced Parameters</h3>
                        <img class="my-3" src="{% static '' %}img/features.svg" width="100px" alt="features icon">
                        <p class="text-black-50 lead">Adjust minimum and maximum quantities for followers, posts, and more with advanced parameters settings.</p>

                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Improvements</h3>
                        <img class="my-3" src="{% static '' %}img/white-listing.svg" width="100px" alt="whitelisting and export feature icon">
                        <p class="text-black-50 lead">Get real-time improvement suggestions fed to your dashboard. MASSNOVA helps optimize your organic growth.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Blacklist & Whitelist</h3>
                        <img class="my-3" src="{% static '' %}img/auto-blacklist.svg" width="100px" alt="Icon for auto blacklisting users on MASSNOVA">
                        <p class="text-black-50 lead">MASSNOVA auto-blacklists sensitive content before engaging, and allows you to whitelist users so you can keep relationships that matter.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Customer Success</h3>
                        <img class="my-3" src="{% static '' %}img/testimonials.svg" width="100px" alt="chat bubble icon">
                        <p class="text-black-50 lead">With the best in-house customer success, MASSNOVA offers you a dedicated account manager that helps you grow.</p>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-0 mt-lg-5 align-items-center">
                    <div class="col-lg-4 order-lg-2">
                        <div class="shadow-2 text-right o-hidden">
                            <div class="pt-5 pb-2 px-5">
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <img src="{% static '' %}img/organic-instagram-growth.svg" width="96px">
                                    <div>
                                        <div class="px-2 py-2 preheader gray text-black-50 mr-0 text-right">☕ $3.96 per day</div>
                                        <p class="text-black-50 font-weight-bold mr-0 mr-lg-1 mt-2">Billed at $119<sub>/ mo</sub></p>
                                    </div>
                                </div>
                                <div class="text-left pt-3">
                                    <p class="h3 my-3">Get Started</p>
                                    <ul class="list-unstyled check text-left text-black-50">
                                        <li class="list-item">
                                            Organic Instagram Followers
                                        </li>
                                        <li class="list-item">
                                            Meaningful engagement
                                        </li>
                                        <li class="list-item">
                                            Advanced analytics
                                        </li>
                                        <li class="list-item">
                                            Costs less than your daily cup of coffee ☕
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="https://app.nitreo.com/register" class="mt-5 btn btn-light btn-block" data-toggle="modal" data-target="#signup">Choose this plan 👈</a>
                            <a href="pricing.html" class="btn my-0 btn-primary-light btn-block">Or learn more about pricing</a>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's MASSNOVA again?</h3>
                                <p class="text-black-50">MASSNOVA is your new favourite organic Instagram growth service, helping you get more Instagram followers around the clock. MASSNOVA will help you connect with your niche, getting you meaningful engagement along the way.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's the growth like?</h3>
                                <p class="text-black-50">The majority of MASSNOVA customers see growth of hundreds of followers in the first few days to two weeks. These results improve over time as your settings are improved.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's your pricing like?</h3>
                                <p class="text-black-50">We offer three pricing plans at the moment, with the lowest plan starting at $69 per month. Each plan costs less than a cup of coffee per day!</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Is there a free trial?</h3>
                                <p class="text-black-50">We're committed to providing the absolute best service in our industry, and as such, MASSNOVA's success team cannot support the free trial model.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="bg-white shadow-2 px-5 pl-lg-0 py-5 pt-lg-5 pb-lg-0 br-24">
                            <div class="row align-items-center">
                                <div class="col-lg-4"><img class="ml-lg-3 br-24 lazy" data-src="{% static '' %}img/chunhua-side-testimonial.jpg"></div>
                                <div class="col-lg-7 offset-lg-1">
                                    <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/cm-avatar.jpg" width="24px">Chief Marketer <img class="lazy ml-1 mx-lg-2" data-src="{% static '' %}img/verified-badge.jpg"> <span class="d-block d-lg-inline-flex small text"> / 22.7k Followers</span></p>
                                    <blockquote class="lead text-black-50">This is an amazing way of getting in touch with all our customers on a personal level. Growing our brand awareness is key, and that's exactly what MASSNOVA helps us with.</blockquote>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/tw-flag.jpg" width="32px">Chunhua Zhiang, Director of Marketing APAC</p>
                                    <div class="pb-0 pb-lg-5 mt-1"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-lg-0">
            <div class="container">
                <div class="row my-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-8">
                        <div class="label py-2 px-2 mb-3 preheader green">Best Instagram Growth Service</div>
                        <p class="h2 mb-3">MASSNOVA will help you grow</p>
                        <p class="text-black-50 lead">There's an easy way to grow your Instagram account - and that's with MASSNOVA. Get started today!</p>
                    </div>
                </div>
                <div class="row my-5 justify-content-center align-items-center">
                    <div class="col-md-12 col-lg-5 col-xl-4">
                        <div class="label py-2 px-2 mb-3 preheader gray">Learn More</div>
                        <h2 class="h3 mb-3">Your premier Instagram growth service</h2>
                        <p class="lead text-black-50">MASSNOVA's more than just a way to get you more followers - it's your new, shiny Instagram growth service. We pride ourselves on our <a href="features.html"> features</a>, cost-effective <a href="pricing.html">pricing</a>, and stellar support. </p>
                        <p class="lead text-black-50">If you're still not ready to get started, <a href="contact.html">get in touch</a> with your questions and our success team will get back to you ASAP!</p>
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Join MASSNOVA</button>
                        </form>


                    </div>
                    <div class="col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                        <div class="asset-container mx-auto br-0 shadow-none">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">

                            </div>
                            <video class="br-24 shadow-2" src="{% static '' %}video/get-nitreo-instagram-growth.mp4" poster="{% static '' %}img/get-nitreo-instagram-growth-poster.png" autoplay loop muted preload="auto"></video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="support" class="py-0">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <h2 class="mb-3">Dedicated customer success team</h2>
                        <p class="lead text-black-50">With MASSNOVA, you're never alone on your Instagram growth journey. our customer success gurus are just one click away - and we're ready to help you set up and optimize your account. <a href="contact.html">Reach out to support</a> if you're not sure whether we're a match!
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                        </form>
                        <span class="d-block text-white-50 small my-3">2 Minutes Setup • Real Results • Get Instagram Followers Fast</span>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                #1 first-time-to-response, Nov 2019
                            </li>
                            <li class="list-item">
                                Results-focused success team
                            </li>
                            <li class="list-item">
                                Dedicated account manager just for your accounts
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <img data-src="{% static '' %}img/customer-success.jpg" class="mw-100 lazy" alt="Portrait photo of the MASSNOVA customer success manager">
                    </div>
                </div>
            </div>
        </section>
        {% include "userapi/footer.html" %}
    </body>

</html>