{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% include "userapi/head.html" %}
        <title>Instagram For Business - Grow With MassNova</title>
        <meta name="description" content="Find out why Instagram is a great platform for any business and why MassNova can help you grow your business on Instagram. Learn more now!">
        <meta name="twitter:title" content="Instagram For Business - Grow With MassNova" />
        <meta property="og:title" content="Instagram For Business - Grow With MassNova" />
        <meta property="og:description" content="Find out why Instagram is a great platform for any business and why MassNova can help you grow your business on Instagram. Learn more now!" />
        <meta name="twitter:description" content="Find out why Instagram is a great platform for any business and why MassNova can help you grow your business on Instagram. Learn more now!" />
        <meta property="og:url" content={% url "userapi:instagram-for-business" %} />
        <link rel="canonical" href={% url "userapi:instagram-for-business" %} />
        <link rel="alternate" href={% url "userapi:instagram-for-business" %} hreflang="x-default" />
    </head>

    <body class="h-100">
        {% include "userapi/header.html" %}
        <section id="hero">
            <div class="container">
                <div class="row">
                    <div class="my-3 my-lg-5 col-md-12 col-lg-6 col-xl-6">
                        <div class="label py-2 px-2 mb-3 preheader">Making Your Business on Instagram Work</div>
                        <h1 class="mb-3">Instagram for business</h1>
                        <span class="mb-3 d-inline-block h3">Learn how businesses succeed on Instagram with MassNova</span>
                        <p class="lead text-black-50">Instagram for business is an incredibly powerful tool for your social media toolkit. By having an Instagram account with more likes, engagement and followers, you'll be able to generate <em>sales</em> - the most important aspect for any company. MassNova helps your business grow, managing your Instagram account to get you engagement that translates into sales for your Instagram business.</p>
                        <p class="d-none d-lg-block lead text-black-50">Connect the dots between business on Instagram and MassNova, or sign up now!</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Start growing now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                    </div>
                    <div class="col-md-12 offset-lg-1 col-lg-4 col-xl-4">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">
                                <img class="image-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/instagram-followers.png" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img class="lazy br-24" data-src="{% static '' %}img/instagram-for-business-example.jpg" alt="An illustrated example of Instagram being used for business">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="h2">75 percent</p>
                        <p class="font-weight-bold text-black-50">of American businesses use Instagram to grow their business</p>
                        <p class="text-black-50">over 75% of U.S. based businesses use Instagram to grow their business. </p>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <p class="h2">Top 1 percent</p>
                        <p class="font-weight-bold text-black-50">of accounts that grow monthly on Instagram</p>
                        <p class="text-black-50">MassNova users are the 1% fastest growing Instagram accounts worldwide. </p>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <p class="h2">99/100</p>
                        <p class="font-weight-bold text-black-50">of our customers give positive feedback</p>
                        <p class="text-black-50">99.7% of our customers report they're happy with MassNova. </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <h2 class="mb-3">How to Use Instagram for Business</h2>
                        <p class="lead text-black-50">Remember when you started your Instagram account and weren't too sure why, but you just felt like you needed Instagram for your business? Instagram is all about social selling, and MassNova helps you accomplish sales through eyeballs and engagement.</p>
                        <p class="lead text-black-50"> With over 25 million businesses on Instagram, it's hard to stick out from the bunch. You just know you need a winning strategy on Instagram - and fast.</p>
                        <p class="lead my-3 text-black-50">This is where MassNova steps in. <strong>MassNova helps you grow your Instagram account on autopilot</strong> - meaning more likes, engagement, followers, and most importantly, sales.</p>
                    </div>
                    <div class="offset-lg-1 col-lg-4 mt-5 mt-lg-0">
                        <p class="my-5 h4">
                            To get started on Instagram, you need:
                        </p>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                An Instagram business account
                            </li>
                            <li class="list-item">
                                A winning Instagram strategy
                            </li>
                            <li class="list-item">
                                To focus on the right business metrics
                            </li>
                        </ul>
                        <p class="my-5 h4">
                            And here's how MassNova helps:
                        </p>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                Get that winning Instagram strategy
                            </li>
                            <li class="list-item">
                                Grow your account with an engaged audience
                            </li>
                            <li class="list-item">
                                Get more followers, likes and sales
                            </li>
                            <li class="list-item">
                                Get guided improvements and optimization tips
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-10">
                        <div class="bg-white shadow-2 px-5 pl-lg-0 py-5 pt-lg-5 pb-lg-0 br-24">
                            <div class="row align-items-center">
                                <div class="col-lg-4"><img class="ml-lg-3 br-24 lazy" data-src="{% static '' %}img/chunhua-side-testimonial.jpg"></div>
                                <div class="col-lg-7 offset-lg-1">
                                    <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/cm-avatar.jpg" width="24px">Chief Marketer <img class="lazy ml-1 mx-lg-2" data-src="{% static '' %}img/verified-badge.jpg"> <span class="d-block d-lg-inline-flex small text"> / 22.7k Followers</span></p>
                                    <blockquote class="lead text-black-50">This is an amazing way of getting in touch with all our customers on a personal level. Growing our brand awareness is key, and that's exactly what MassNova helps us with.</blockquote>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/tw-flag.jpg" width="32px">Chunhua Zhiang, Director of Marketing APAC</p>
                                    <div class="pb-0 pb-lg-5 mt-1"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center text-left">
                    <div class="col-lg-5">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">The Basics</div>
                        <h2 class="h3">Grow your business on Instagram by growing your audience on autopilot</h2>
                        <p class="lead text-black-50">Scale the growth of your business on Instagram with MassNova. MassNova engages with your target audience in your niche, getting you more engagement, followers, and ultimately - sales. </p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Start Growing Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                        <div class="bg-white shadow-2 px-5 py-5 br-24 mt-5">
                            <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/testimonial-1.jpg" width="24px">@crossfitjunkiesociety <span class="d-block d-lg-inline-flex small text"> / 18.2k Followers</span></p>
                            <blockquote class="lead text-black-50">We use MassNova for about 50 of our clients at the moment. Their export functionality is a dream come true.</blockquote>
                            <div class="d-lg-flex justify-content-between align-items-center my-3 text-center text-lg-left">
                                <div>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/usa-flag.svg" width="32px">Kelly, Lifestyle Niche</p>
                                </div>
                                <div class="pb-5 pb-lg-0"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 my-5 my-lg-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/easy-to-set-up.svg" alt="an icon showing how easy it is to set up MassNova">
                                    <h3 class="my-3 h4">Easy & quick</h3>
                                    <p class="text-black-50 lead">It only takes a few seconds to get an account hooked up to MassNova. Setting up your Instagram accounts is streamlined and easy.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/more-followers.svg" alt="an icon showing how you can get more followers on Instagram">
                                    <h3 class="my-3 h4">Hands-free growth</h3>
                                    <p class="text-black-50 lead">Get more followers, likes and engagement around the clock with MassNova. Any account you're growing is streamlined for growth.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/organic-instagram-growth.svg">
                                    <h3 class="my-3 h4">Build an audience</h3>
                                    <p class="text-black-50 lead">MassNova helps build the right niche audience for all types of client accounts. From meme accounts to influencers to brands, we do it all for you!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/engagement-grows.svg" alt="an icon showing growth in Instagram engagement">
                                    <h3 class="my-3 h4">Dedicated assistance</h3>
                                    <p class="text-black-50 lead">While we do growth tasks on your behalf, our dedicated account managers are there for you on MassNova. Get world-class support as often as you need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 mt-5 mt-lg-0">
                                <div class="alert bg-green text-green px-5 py-3">
                                    <p class="font-weight-bold my-3">💡 Open an entirely new promotion channel for your business.</p>
                                    <p class="text-black-50">Make sure your business is following the newest trends. Today, it’s not enough to just have a website and a Facebook page. Your business needs an Instagram presence. Learn more about our <a href={% url "userapi:features" %}>What MassNova can do</a> and <a href={% url "userapi:how" %}>how it works</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="users" class="bg-primary-light bg-balloons">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="card shadow-2 br-24 o-hidden">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 col-lg-6 order-lg-2">
                                    <img data-src="{% static '' %}img/businesses-using-instagram.jpg" class="card-img-top h-100 lazy" alt="Instagram business accounts using Instagram">
                                </div>
                                <div class="col-md-12 col-lg-6 order-lg-1">
                                    <div class="card-body px-lg-5 pb-5 pb-lg-0">
                                        <div class="label py-2 px-2 mb-3 preheader">Billions of users</div>
                                        <h3>15 minutes to build a profitable Instagram business</h3>
                                        <p class="my-3 text-black-50">Did you know that Instagram has over 1 billion (with a B) active users? To compare, that is roughly the same is the whole internet had just 10-15 years ago. It doesn’t matter what you do, as a business, you have to have an Instagram presence.</p>
                                        <p class="lead text-black-50">MassNova can help you grow your Instagram business account and take care of the time consuming repetitive work. Your Instagram account will grow and your traffic with it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="setup" class="pb-5">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Scale your business on social media</div>
                        <h2 class="h2 mb-3">How MassNova helps businesses succeed on Instagram</h2>
                        <p class="lead text-black-50">Growing your Instagram is really simple, but… it takes time and effort. MassNova performs all the tasks you've been doing by yourself. We are on the cutting edge of technology to help you grow your Instagram business. Here's an outline of how MassNova works, but feel free to check out our <a href={% url "userapi:how" %}>how MassNova works</a> page for a more wholesome overview! </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5 mb-lg-0">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Growth Feature</div>
                        <h2 class="h3 mb-3">Set up following & unfollowing tasks</h2>

                        <p class="lead text-black-50">MassNova selects users to follow and unfollow based on hashtag, user, and location targeting settings specified on MassNova. It's a time tested method in growing Instagram accounts and this feature is one of MassNova's core assets. By automating your following and unfollowing, you'll:</p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Save hours every day finding the right users
                            </li>
                            <li class="list-item">
                                Be able to grow your business account cleanly and efficiently
                            </li>
                            <li class="list-item">
                                Keep getting results that get you leads and sales
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Try MassNova for your business</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="position-absolute o-hidden h-100 br-24 vertical-gradient vertical-gradient-md zi-0 px-2">
                                <img class="rellax rellax-fix" data-rellax-speed="2" src="{% static '' %}img/more-instagram-followers.jpg" alt="a screenshot of a user getting more Instagram followers and likes">
                            </div>
                            <div class="asset-support">
                                <img class="faster-1 zi-1 br-24 shadow-2" src="{% static '' %}img/graph-organic-instagram-followers.jpg" data-aos="fade-up" alt="graph depicting organic instagram followers">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10 mt-5 mt-lg-0">
                        <div class="alert bg-green text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Clean your newsfeed</p>
                            <p class="text-black-50">Don’t worry about following too many accounts. MassNova will clean up your feed, only showing you the important posts, so you can never miss what your customers are doing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="morefeatures">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Growth Feature</div>
                        <h2 class="h3 mb-3">View, Like, Engage</h2>
                        <p class="lead text-black-50">MassNova is doing all the tasks that a dedicated social media manager might do, but much faster and for a lot less money. MassNova is constantly looking for accounts that are likely to follow you, engaging in comments, and participating in Instagram Live sessions on your behalf. That way, your Instagram business account will get noticed by thousands and thousands of people every day.</p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Save more hours by letting MassNova do this for you
                            </li>
                            <li class="list-item">
                                Get more engagement by appearing in activity feeds
                            </li>
                            <li class="list-item">
                                Stay relevant with your target audience
                            </li>
                            <li class="list-item">
                                Pick up more followers when combined with following/unfollowing
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Try MassNova for business now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container shadow-0 mx-auto mb-5 mb-lg-0">
                            <div class="asset-support">
                                <img class="hashtag-2 zi-1" src="{% static '' %}img/stories-viewing.svg" width="100px" data-aos="fade-up" alt="icon for Instagram stories viewing">
                                <img class="discovery-1 zi-1 br-24 shadow-2 lazy" data-src="{% static '' %}img/graph-stories-viewed.png" data-aos="fade-up">
                            </div>
                            <img class="h-100 lazy br-24 shadow-2" data-src="{% static '' %}img/instagram-for-business-story.jpg" alt="an example of an Instagram story being used for business">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hashtags">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader">Business Feature</div>
                        <h2 class="h3 mb-3">Targets for your Instagram marketing just got easier</h2>

                        <p class="lead text-black-50">MassNova’s proprietary targeting options allow you to target your potential clients with pinpoint accuracy and find your niche in no time. </p>
                        <p class="lead text-black-50">You can target users based on several parameters like gender, location, account activity, and more. You can use the built-in hashtag tool to find best performing hashtags or you can tell MassNova to copy the followers from your competition.</p>
                        <ul class="list-unstyled check text-dark my-5">
                            <li class="list-item">
                                Targeting is improved over time
                            </li>
                            <li class="list-item">
                                Optimized to target leads in your niche
                            </li>
                            <li class="list-item">
                                Followers are relevant and fit your business goals
                            </li>
                            <li class="list-item">
                                Your followers engage with your business daily
                            </li>

                        </ul>

                        <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#signup">Set up your account now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/hashtag-5.png" data-aos="fade-up">
                                <img class="hashtag-2 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/instagram-user-follower-2.png" data-aos="fade-up">
                                <img class="faster-1 zi-1 lazy br-24 shadow-2" data-src="{% static '' %}img/hashtag-photograph-instagram-impressions.png" data-aos="fade-up">

                            </div>
                            <img class="br-24 shadow-2 lazy" data-src="{% static '' %}img/similar-users.jpg" alt="similar users on Instagram being followed">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <div class="alert alert-primary text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 More business with the right targeting</p>
                            <p>All MassNova plans come with an advanced hashtag generator that will help you discover relevant hashtags with good performance. Log in to your account to use a hashtag generator now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="signup-banner" class="py-0">
            <div class="container">
                <div class="row mx-0 px-3 px-lg-5 py-5 my-lg-5 text-left align-items-center position-relative justify-content-center bg-pattern-light border border-light o-hidden">
                    <img class="background-image d-none d-lg-flex right bottom position-absolute opacity-10 rotate-min-30 lazy" data-src="{% static '' %}img/instagram-carousel-background-small.png" alt="a carousel of Instagram posts">
                    <div class="col-md-12 col-lg-6">
                        <div class="alert alert-primary bg-primary-light br-24 d-inline-block small">Updated on <span class="date"></span></div>
                        <p class="h2">Signups close in <span id="deadline" class="d-inline"><span class="values text-dark"></span></span></p>
                        <hr class="border border-primary">
                        <p class="my-2">Every MassNova account is assigned to a dedicated success manager who will personally review your account and guide you through the process of growing your Instagram business account. To make sure we can provide every customer with the best experience possible, we are limiting the number of slots. Signups for this month are closing soon, make sure to get MassNova before the deadline.</p>
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">

                        <div class="d-inline-block z-index-2">
                            <p>Grow your business on Instagram:</p>
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now </button>
                            </form>
                            <span class="d-block text-light-50 small my-3">2 Minutes Setup • Real Results • Grow Your Instagram</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="featureboxes" class="pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Many more features</div>
                        <h2 class="h3">Features to scale your business with social</h2>

                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="h4">Export Results</h3>
                        <img class="my-3" src="{% static '' %}img/white-listing.svg" width="100px" alt="whitelisting and export feature icon">
                        <p class="text-black-50 lead">Export your results on-the-fly for you or your management team to see.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Account Improvements</h3>
                        <img class="my-3" src="{% static '' %}img/features.svg" width="100px" alt="features icon">
                        <p class="text-black-50 lead">We analyze your account and provide insights and improvement tips for your business.</p>

                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Advanced Targeting</h3>
                        <img class="my-3" src="{% static '' %}img/how.svg" width="100px" alt="how it works icon">
                        <p class="text-black-50 lead">Target only people who are likely to become your customers. There are several filters available.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Whitelist & Blacklist</h3>
                        <img class="my-3" src="{% static '' %}img/testimonials.svg" width="100px" alt="chat bubble icon">
                        <p class="text-black-50 lead">If you ever get stuck or just need a hint on growing your Instagram business account, our support team is just one click away.</p>
                    </div>


                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-0 mt-lg-5 align-items-center">
                    <div class="col-lg-4 order-lg-2">
                        <div class="shadow-2 text-right o-hidden">
                            <div class="pt-5 pb-2 px-5">
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <img src="{% static '' %}img/organic-instagram-growth.svg" width="96px">
                                    <div>
                                        <div class="px-2 py-2 preheader gray text-black-50 mr-0 text-right">☕ $3.96 per day</div>
                                        <p class="text-black-50 font-weight-bold mr-0 mr-lg-1 mt-2">Billed at $119<sub>/ mo</sub></p>
                                    </div>
                                </div>
                                <div class="text-left pt-3">
                                    <p class="h3 my-3">Affordably priced</p>
                                    <ul class="list-unstyled check text-left text-black-50">
                                        <li class="list-item">
                                            Real Instagram Followers
                                        </li>
                                        <li class="list-item">
                                            Organic engagement
                                        </li>
                                        <li class="list-item">
                                            Instagram Management App
                                        </li>
                                        <li class="list-item">
                                            Less than a cup of coffee a day ☕
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href={% url "userapi:signup" %} class="mt-5 btn btn-light btn-block" data-toggle="modal" data-target="#signup">Choose this plan 👈</a>
                            <a href={% url "userapi:pricing" %} class="btn my-0 btn-primary-light btn-block">Or learn more about pricing</a>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">So, what's MassNova?</h3>
                                <p class="text-black-50">MassNova is a growth tool that will take your Instagram business account and grow the following and engagement while you do the important work. Start growing your following and customer base with MassNova.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's the growth like?</h3>
                                <p class="text-black-50">The majority of MassNova customers see growth of hundreds of followers in the first few days to two weeks. These results improve over time as your settings are improved.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">How much does MassNova cost?</h3>
                                <p class="text-black-50">Our most expensive plan suitable for corporations and big businesses starts at only $69 per month with more affordable plans available for freelancers and small businesses.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Is Insta right for our business?</h3>
                                <p class="text-black-50">YES. Instagram has over 1 billion users and it’s growing. It doesn’t matter if you are a local carpenter, a manufacturing company, or a big multinational corporation, your business will benefit from having an Instagram account.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="bg-white shadow-2 px-5 pl-lg-0 py-5 pt-lg-5 pb-lg-0 br-24">
                            <div class="row align-items-center">
                                <div class="col-lg-4"><img class="ml-lg-3 br-24 lazy" data-src="{% static '' %}img/chunhua-side-testimonial.jpg"></div>
                                <div class="col-lg-7 offset-lg-1">
                                    <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/cm-avatar.jpg" width="24px">Chief Marketer <img class="lazy ml-1 mx-lg-2" data-src="{% static '' %}img/verified-badge.jpg"> <span class="d-block d-lg-inline-flex small text"> / 22.7k Followers</span></p>
                                    <blockquote class="lead text-black-50">This is an amazing way of getting in touch with all our customers on a personal level. Growing our brand awareness is key, and that's exactly what MassNova helps us with.</blockquote>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/tw-flag.jpg" width="32px">Chunhua Zhiang, Director of Marketing APAC</p>
                                    <div class="pb-0 pb-lg-5 mt-1"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-lg-0">
            <div class="container">

                <div class="row my-5 justify-content-center align-items-center">
                    <div class="col-md-12 col-lg-5 col-xl-4">
                        <div class="label py-2 px-2 mb-3 preheader gray">Learn More</div>
                        <h2 class="h3 mb-3">Not sure if you need to grow your Instagram business account?</h2>
                        <p class="lead text-black-50">You can get more customers for your business from Instagram, no matter what you do. Let’s make a comparison. With over 1 billion active users, Instagram has roughly the same number of users as the whole internet had only 10-15 years ago. </p>
                        <p class="lead text-black-50">In other words, everyone is on Instagram nowadays and customers expect to find you there too. Let MassNova be your personal Instagram manager!</p>
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Join MassNova</button>
                        </form>


                    </div>
                    <div class="col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                        <div class="asset-container mx-auto br-0 shadow-none">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">

                            </div>
                            <video class="br-24 shadow-2" src="{% static '' %}video/get-nitreo-instagram-growth.mp4" poster="{% static '' %}img/get-nitreo-instagram-growth-poster.png" autoplay loop muted preload="auto"></video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="support" class="py-0">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <h2 class="mb-3">Top tier support</h2>
                        <p class="lead text-black-50">Last thing, we promise! Our customer success has won a few industry awards. In a nutshell, every MassNova customer gets their own dedicated account manager.This gives you that extra human touch when growing your account - and also makes sure you stay happy with us. Sign up today and make your Instagram experience more wholesome.
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                        </form>
                        <span class="d-block text-white-50 small my-3">2 Minutes Setup • Real Results • Get Instagram Followers Fast</span>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                #1 first-time-to-response, Nov 2019
                            </li>
                            <li class="list-item">
                                Customer success is results-driven
                            </li>
                            <li class="list-item">
                                Dedicate account assistance whenever you need it
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <img data-src="{% static '' %}img/customer-success.jpg" class="mw-100 lazy" alt="Portrait photo of the MassNova customer success manager">
                    </div>
                </div>
            </div>
        </section>
        {% include "userapi/footer.html" %}
    </body>

</html>