{% extends 'userapi/base.html' %}
{% load static %}

{% block title %}Insta Credentials |{% endblock %}

{% block style %}
<style>
    /* Styles for the popup */
    .popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        transform: translate(-50%, -50%);
        background: #ffffff;
        color: #1d1d1d;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .theme-dark .popup-content {
        background: #1d1d1d;
        color: #ffffff;
    }

    body.popup-open {
        overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}
<!-- Inner Banner Area -->
<div class="inner-banner">
    <div>
        <div class="inner-title text-center">
            <h3>Insta Credentials</h3>
            <ul>
                <li>
                    <a href={% url "userapi:dashboard" %}>Dashboard</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Insta Credentials</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one">
            <img src="{% static 'assets/img/inner-banner/banner-shape1.png' %}" alt="Images">
        </div>

        <div class="shape-two">
            <img src="{% static 'assets/img/inner-banner/banner-shape2.png' %}" alt="Images">
        </div>

        <div class="shape-three">
            <img src="{% static 'assets/img/inner-banner/banner-shape3.png' %}" alt="Images">
        </div>

        <div class="inner-banner-dots-2">
            <img src="{% static 'assets/img/shape/dots-shape.png' %}" alt="Images">
        </div>
    </div>
</div>
<!-- Inner Banner Area End -->

<!-- Insta Credentials Area -->
<div class="container mb-3">
    <div class="row pt-45">
        <div class="container mb-2">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}"
                data-display-time="6000">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-5">
            <div class="d-flex justify-content-between mb-3">
                <h3>Insta Credentials</h3>
                <button type="button" class="btn btn-primary btn-sm" onclick="togglePopup('instaPopup', true)">
                    Add New
                    <i class='bx bx-plus'></i>
                </button>
            </div>
            {% if insta_creds %}
            {% for insta_cred in insta_creds %}
            <div class="d-flex justify-content-between mb-3">
                <div class="col-lg-7">{{ insta_cred.username }}</div>
                <div class="col-lg-4">
                    <div class="buttons">
                        <button type="button" class="btn btn-primary btn-sm"
                        onclick="togglePopup('instaPopup', true, '{{ insta_cred.username }}')">
                            Edit
                            <i class='bx bx-edit'></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                            onclick="togglePopup('deletePopup', true, '{{ insta_cred.username }}', true)">
                            Delete
                            <i class='bx bx-trash'></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <strong>No Insta Account Found against Your Account!</strong>
            {% endif %}
        </div>
    </div>
</div>
<!-- Insta Credentials Area End -->

<!-- Add/Edit Popup -->
<div class="popup" id="instaPopup">
    <div class="popup-content">
        <form action={% url "userapi:insta-credentials" %} method="POST" id="instaForm">
            {% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <label for="username">Your Insta Username</label><br>
                    <input type="text" class="form-control" name="username" id="username"
                        placeholder="Please Enter Your Insta Username" required>
                </div>
                <div class="form-group">
                    <label for="username">Your Insta Password</label><br>
                    <input type="password" class="form-control" name="password" id="password-input"
                        placeholder="Password" required>
                    <input type="checkbox" id="chb2" onclick="togglePassword()">
                    <label for="chb2">
                        Show Password
                    </label>
                </div>
                <div class="buttons text-center">
                    <button type="submit" class="btn btn-primary">
                        Save
                        <i class='bx bx-plus'></i>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="togglePopup('instaPopup', false)">
                        Cancel
                        <i class='bx bx-x'></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add/Edit Popup End -->

<!-- Delete Popup -->
<div class="popup" id="deletePopup">
    <div class="popup-content">
        <div class="row">
            <div class="d-flex justify-content-center mb-3">
                <strong>
                    <span>Are you sure to delete</span>
                    <span id="delete-content"></span>
                    <span>from your account?</span>
                </strong>
            </div>
            <div class="buttons text-center">
                <button type="button" class="btn btn-danger" onclick="deleteInstaCred()">
                    Delete
                    <i class='bx bx-trash'></i>
                </button>
                <button type="button" class="btn btn-primary" onclick="togglePopup('deletePopup', false)">
                    Cancel
                    <i class='bx bx-x'></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Popup End -->

<script>
    function togglePopup(popupId, isOpen, instaUsername = null, deleteCred = false) {
        document.getElementById(popupId).style.display = isOpen ? 'block' : 'none';
        document.body.classList.toggle('popup-open', isOpen);
        if (!deleteCred) {
            var form = document.getElementById('instaForm');

            // Check if the hidden input already exists
            var existingInput = form.querySelector('input[name="previous_username"]');

            if (existingInput) {
                // If it exists, update its value
                existingInput.value = instaUsername;
            } else {
                // If it doesn't exist, create a new input element
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'previous_username';
                hiddenInput.value = instaUsername;

                // Append the hidden input to the form
                form.appendChild(hiddenInput);
            }
            document.getElementById('username').value = instaUsername ? instaUsername : "";
            document.getElementById('password-input').value = "";
        }
        else {
            document.getElementById("delete-content").innerText = instaUsername;
        }
    }

    function deleteInstaCred() {
        var instaUsername = document.getElementById("delete-content").innerText;
        var url = `/insta-credential/${instaUsername}/`;
        var form = document.getElementById('instaForm');
        let csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
        })
        .then(response => {
            if (response.ok) {
                // Handle success (e.g., show a success message, refresh the page)
                window.location.pathname = '/insta-credentials/';
            } 
        })
        .catch(error => {
            // Handle network or other errors
            alert('Error during delete request:', error);
        });

    }
</script>
{% endblock %}