{% extends 'userapi/base.html' %}
{% load static %}

{% block head %}
<title>Insta Credentials - MassNova</title>
<style>
    /* Styles for the popup */
    .popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        transform: translate(-50%, -50%);
        background: #ffffff;
        color: #1d1d1d;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    body.popup-open {
        overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}
{% include "userapi/dashboard_header.html" %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">MassNova</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"></li>
                        <li class="breadcrumb-item active" aria-current="page">Insta Credentials</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <button type="button" class="btn btn-primary">
                    <a href={% url "userapi:insta-credentials" %} style="color: white;">
                        Settings
                        <i class="bx bx-cog"></i>
                    </a>
                </button>
                <button type="button" class="btn btn-primary" onclick="togglePopup('instaPopup', true)">
                    Add New
                    <i class='bx bx-plus'></i>
                </button>
            </div>
        </div>
        <!--end breadcrumb-->
        <h4>Insta Credentials</h4>
        <hr>
        <!-- Insta Credentials Area -->
        <div class="col-12">
            <div class="container mb-2">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Usernames
                                    </th>
                                    <th colspan="2" class="text-center" style="width: 20%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if insta_creds %}
                                {% for insta_cred in insta_creds %}
                                <tr>
                                    <td>{{ insta_cred.username }}</td>
                                    <td class="text-end">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEdit">
                                            Edit
                                            <i class='bx bx-edit'></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="togglePopup('deletePopup', true, '{{ insta_cred.username }}', true)">
                                            Delete
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <strong>No Insta Account Found against Your Account!</strong>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Insta Credentials Area End -->
    </div>
</main>

<!-- Add/Edit Popup -->
<div class="col">
    <!-- Modal -->
    <div class="modal fade" id="addEdit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action={% url "userapi:insta-credentials" %} method="POST" id="instaForm">
                        {% csrf_token %}
                        <div class="col-12">
                            <label for="username" class="form-label">Your Insta Username</label><br>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Please Enter Your Insta Username" required>
                        </div>
                        <div class="col-12">
                            <label for="password">Your Insta Password</label><br>
                            <div class="input-group" id="show_hide_password">
                                <input type="password" class="form-control" name="password" id="password-input" placeholder="Enter Password" required>
                                <a href="#" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add/Edit Popup End -->

<!-- Delete Popup -->
<div class="popup" id="deletePopup">
    <div class="popup-content">
        <div class="row">
            <div class="d-flex justify-content-center mb-3">
                <strong>
                    <span>Are you sure to delete</span>
                    <span id="delete-content"></span>
                    <span>from your account?</span>
                </strong>
            </div>
            <div class="buttons text-center">
                <button type="button" class="btn btn-danger" onclick="deleteInstaCred()">
                    Delete
                    <i class='bx bx-trash'></i>
                </button>
                <button type="button" class="btn btn-primary" onclick="togglePopup('deletePopup', false)">
                    Cancel
                    <i class='bx bx-x'></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Popup End -->

{% include "userapi/dashboard_footer.html" %}

<script>
    function togglePopup(popupId, isOpen, instaUsername = null, deleteCred = false) {
        document.getElementById(popupId).style.display = isOpen ? 'block' : 'none';
        document.body.classList.toggle('popup-open', isOpen);
        if (!deleteCred) {
            var form = document.getElementById('instaForm');

            // Check if the hidden input already exists
            var existingInput = form.querySelector('input[name="previous_username"]');

            if (existingInput) {
                // If it exists, update its value
                existingInput.value = instaUsername;
            } else {
                // If it doesn't exist, create a new input element
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'previous_username';
                hiddenInput.value = instaUsername;

                // Append the hidden input to the form
                form.appendChild(hiddenInput);
            }
            document.getElementById('username').value = instaUsername ? instaUsername : "";
            document.getElementById('password-input').value = "";
        }
        else {
            document.getElementById("delete-content").innerText = instaUsername;
        }
    }

    function deleteInstaCred() {
        var instaUsername = document.getElementById("delete-content").innerText;
        var url = `/insta-credential/${instaUsername}/`;
        var form = document.getElementById('instaForm');
        let csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
        })
            .then(response => {
                if (response.ok) {
                    // Handle success (e.g., show a success message, refresh the page)
                    window.location.pathname = '/insta-credentials/';
                }
            })
            .catch(error => {
                // Handle network or other errors
                alert('Error during delete request:', error);
            });

    }
</script>
{% endblock %}