{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% include "userapi/head.html" %}
        <title>Instagram Creator Account - Grow With MassNova</title>
        <meta name="description" content="Learn how you can make and grow your Instagram creator account with MassNova. Thousands of Instagram creators work with us daily. Get it NOW!">
        <meta name="twitter:title" content="Instagram Creator Account - MassNova" />
        <meta property="og:title" content="Instagram Creator Account - MassNova" />
        <meta property="og:description" content="Learn how you can make and grow your Instagram creator account with MassNova. Thousands of Instagram creators work with us daily. Get it NOW!" />
        <meta name="twitter:description" content="Learn how you can make and grow your Instagram creator account with MassNova. Thousands of Instagram creators work with us daily. Get it NOW!" />
        <meta property="og:url" content={% url "userapi:instagram-creator-account" %} />
        <link rel="canonical" href={% url "userapi:instagram-creator-account" %} />
        <link rel="alternate" href={% url "userapi:instagram-creator-account" %} hreflang="x-default" />
    </head>

    <body class="h-100">
        {% include "userapi/header.html" %}
        <section id="hero" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="my-3 my-lg-5 col-md-12 col-lg-6 col-xl-6">
                        <div class="label py-2 px-2 mb-3 preheader">For Instagram Creators</div>
                        <h1 class="mb-3 h2">About your Instagram creator account</h1>
                        <span class="mb-3 d-inline-block h3">Grow your Instagram creator account faster with MassNova.</span>
                        <p class="lead text-black-50">MassNova is a personal growth service developed to grow your Instagram creator account. Focus on creating great content and let MassNova bring in new organic followers day after day.</p>
                        <p class="d-none d-lg-block lead text-black-50">Sign up now, or keep reading to find out more.</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                    </div>
                    <div class="col-md-12 offset-lg-1 col-lg-4 col-xl-4">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">
                                <img class="image-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/instagram-followers.png" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img class="lazy br-24" data-src="{% static '' %}img/instagram-creator-account.jpg" alt="An example of an Instagram creator account">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Get More Followers</div>
                        <h2 class="h3">A premium growth service for Instagram creator accounts</h2>
                        <p class="lead text-black-50">Your job: Create great Instagram content that your followers will love watching over and over again. Our job: make sure you will get new followers day in - day out. </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <p class="h4 mb-3">
                            What we don't do:
                        </p>
                        <ul class="list-unstyled cross text-dark">
                            <li class="list-item">
                                Bring your Instagram creator account fake followers
                            </li>
                            <li class="list-item">
                                Make promises we can’t keep
                            </li>
                            <li class="list-item ">
                                Get unrelated followers that aren't from your niche
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 mt-5 mt-lg-0">
                        <p class="h4 mb-3">
                            What we do:
                        </p>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                Grow your Insta
                            </li>
                            <li class="list-item">
                                Get you hyperengaged, real followers
                            </li>
                            <li class="list-item">
                                Do the growth part so you can focus on content
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center text-left">
                    <div class="col-lg-5">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Create and grow more</div>
                        <h2 class="h3">Like having your own Instagram manager</h2>
                        <p class="lead text-black-50">We can offer you a management service that is specifically built for Instagram creators like photographers, models, artisans, musicians, and more for the price of a cup of coffee per day.</p>
                        <div class="d-inline-block my-3">
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                            </form>
                            <div class="text-black-50 small my-3">2 Minutes Setup • Real Results • Get More Instagram Followers</div>
                        </div>
                        <div class="bg-white shadow-2 px-5 py-5 br-24 mt-5">
                            <p class="font-weight-bold d-block d-lg-flex align-items-center text-center"><img class="d-block d-lg-inline-flex lazy br-24 mx-auto mx-lg-0 my-2 my-lg-0 mr-lg-2" data-src="{% static '' %}img/testimonial-1.jpg" width="24px">@crossfitjunkiesociety <span class="d-block d-lg-inline-flex small text"> / 18.2k Followers</span></p>
                            <blockquote class="lead text-black-50">Good results, a lot more engagement, and way more sales. Exactly what I was looking for from Instagram. Thanks MassNova!</blockquote>
                            <div class="d-lg-flex justify-content-between align-items-center my-3 text-center text-lg-left">
                                <div>
                                    <p class="my-3 font-weight-bold"><img class="lazy mr-2 d-inline-flex" data-src="{% static '' %}img/usa-flag.svg" width="32px">Kelly, Lifestyle Niche</p>
                                </div>
                                <div class="pb-5 pb-lg-0"><img class="lazy" data-src="{% static '' %}img/stars.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 my-5 my-lg-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/easy-to-set-up.svg" alt="an icon showing how easy it is to set up MassNova">
                                    <h3 class="my-3 h4">Setup is easy</h3>
                                    <p class="text-black-50 lead">No software to install, it all runs on a secure cloud. Setting up MassNova is quick and easy. Try it now.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/more-followers.svg" alt="an icon showing how you can get more followers on Instagram">
                                    <h3 class="my-3 h4">100% Organic</h3>
                                    <p class="text-black-50 lead">Tired of tools that bring you fake or ghost followers? MassNova engages with real followers who love the content you create.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/organic-instagram-growth.svg">
                                    <h3 class="my-3 h4">New followers every day</h3>
                                    <p class="text-black-50 lead">MassNova does your Instagram growth, so you can focus on creating great content.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="square content">
                                    <img class="w64" src="{% static '' %}img/engagement-grows.svg" alt="an icon showing growth in Instagram engagement">
                                    <h3 class="my-3 h4">Real support when you need it</h3>
                                    <p class="text-black-50 lead">MassNova is extremely easy to use, but you can count on our friendly support team if you ever get stuck.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="users" class="bg-primary-light bg-balloons">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="card shadow-2 br-24 o-hidden">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 col-lg-6 order-lg-2">
                                    <img data-src="{% static '' %}img/used-by-these-instagram-creators.jpg" class="card-img-top h-100 lazy" alt="Framed photos of Instagram creators that use MassNova">
                                </div>
                                <div class="col-md-12 col-lg-6 order-lg-1">
                                    <div class="card-body px-lg-5 pb-5 pb-lg-0">
                                        <div class="label py-2 px-2 mb-3 preheader">Thousands of Instagram creators use MassNova</div>
                                        <h3>Creators, businesses, agencies & managers</h3>
                                        <p class="my-3 text-black-50">Join the family of thousands of Instagram creators who already created MassNova account to streamline their online presence and grow their audience. MassNova brings new followers, likes, and comments every day so you can focus on taking that perfect photo.</p>
                                        <p class="lead text-black-50">MassNova is designed with Instagram creators in mind. With machine learning A.I. and advanced targeting features, your account will grow day in, day out.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="setup" class="pb-5">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Grow Your Instagram Faster</div>
                        <h2 class="h2 mb-3">How MassNova helps creators grow</h2>
                        <p class="lead text-black-50">We are a social media agency - but many of our employees are Instagram creators who understand what it means to create great content and grow your account. When we were developing MassNova, we had photographers, videographers, models, chefs, musicians, and other Instagram creators in mind. </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center mb-5 mb-lg-0">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Follow & unfollow</h2>

                        <p class="lead text-black-50">Based on A.I. and filtering options like hashtags and similar accounts, MassNova will follow and unfollow accounts, growing your Instagram following. MassNova also offers advanced targeting features that allow you to target users with pinpoint accuracy. MassNova will save hours of manual work you have to do every day.</p>


                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Create With MassNova</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="position-absolute o-hidden h-100 br-24 vertical-gradient vertical-gradient-md zi-0 px-2">
                                <img class="rellax rellax-fix" data-rellax-speed="2" src="{% static '' %}img/more-instagram-followers.jpg" alt="a screenshot of a user getting more Instagram followers and likes">
                            </div>
                            <div class="asset-support">
                                <img class="faster-1 zi-1 br-24 shadow-2" src="{% static '' %}img/graph-organic-instagram-followers.jpg" data-aos="fade-up" alt="graph depicting organic instagram followers">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10 mt-5 mt-lg-0">
                        <div class="alert bg-green text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Only see posts that you choose in your feed</p>
                            <p class="text-black-50">MassNova uses the mute function, so your feed will stay clean, only showing posts from accounts you are interested in. No worries, you can use your Instagram account normally and let MassNova do all the work in the background.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="morefeatures">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader green">Organic Growth Feature</div>
                        <h2 class="h3 mb-3">Watch stories, like comments and engage</h2>
                        <p class="lead text-black-50">One of the fastest ways to grow your Instagram account is by engagement. Research shows that accounts who regularly watch stories and react to posts get 344% more followers on average. With MassNova, you can turn what looks like a full-time job into a “done for you” process by letting us handle your growth opportunities.</p>
                        <p>Use MassNova to get rid of your own daily Instagram “chores” and gain more followers with this reliable, proven growth strategy, saving 2-4 hours of your precious time every day.</p>

                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container shadow-0 mx-auto mb-5 mb-lg-0">
                            <div class="asset-support">
                                <img class="hashtag-2 zi-1" src="{% static '' %}img/stories-viewing.svg" width="100px" data-aos="fade-up" alt="icon for Instagram stories viewing">
                                <img class="discovery-1 zi-1 br-24 shadow-2 lazy" data-src="{% static '' %}img/graph-stories-viewed.png" data-aos="fade-up">
                            </div>
                            <img class="h-100 lazy br-24 shadow-2" data-src="{% static '' %}img/instagram-creator-account-stories.jpg" alt="An Instagram story published on an Instagram creator account">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hashtags">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <div class="label py-2 px-2 mb-3 preheader">Targeting</div>
                        <h2 class="h3 mb-3">Target hashtags, similar accounts, locations 📍</h2>

                        <p class="lead text-black-50">All you need to do is enter a few hashtags and accounts similar to yours at the setup and MassNova will do the rest, targeting real followers with pinpoint accuracy. </p>
                        <p class="lead text-black-50">With MassNova’s advanced targeting features, you will get more followers day in, day out. But more importantly, the followers you will gain will be real people genuinely interested in your work.</p>

                        <a href="#" class="btn btn-dark text-white my-3" data-toggle="modal" data-target="#signup">Get Started Now</a>
                    </div>
                    <div class="offset-lg-1 col-lg-4 my-5 my-lg-0">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/hashtag-5.png" data-aos="fade-up">
                                <img class="hashtag-2 zi-2 lazy br-24 shadow-2 d-none d-lg-flex" data-src="{% static '' %}img/instagram-user-follower-2.png" data-aos="fade-up">
                                <img class="faster-1 zi-1 lazy br-24 shadow-2" data-src="{% static '' %}img/hashtag-photograph-instagram-impressions.png" data-aos="fade-up">

                            </div>
                            <img class="br-24 shadow-2 lazy" data-src="{% static '' %}img/similar-users.jpg" alt="similar users on Instagram being followed">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <div class="alert alert-primary text-green px-5 py-3">
                            <p class="font-weight-bold my-3">💡 Advanced Targeting</p>
                            <p>You can let MassNova take care of your growth, or get into the nitty-gritty and set every detail manually, boosting your growth and getting even more relevant followers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="signup-banner" class="py-0">
            <div class="container">
                <div class="row mx-0 px-3 px-lg-5 py-5 my-lg-5 text-left align-items-center position-relative justify-content-center bg-pattern-light border border-light o-hidden">
                    <img class="background-image d-none d-lg-flex right bottom position-absolute opacity-10 rotate-min-30 lazy" data-src="{% static '' %}img/instagram-carousel-background-small.png" alt="a carousel of Instagram posts">
                    <div class="col-md-12 col-lg-6">
                        <div class="alert alert-primary bg-primary-light br-24 d-inline-block small">Updated on <span class="date"></span></div>
                        <p class="h2">Signups close in <span id="deadline" class="d-inline"><span class="values text-dark"></span></span></p>
                        <hr class="border border-primary">
                        <p class="my-2">MassNova was built with Instagram creators in mind. We, ourselves, are a group of photographers, home chefs, and travelers with our own Instagram creator accounts. We want to provide every customer with the best possible service, that is why the signups are limited and only open once per month. Don’t miss your chance!</p>
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">

                        <div class="d-inline-block z-index-2">
                            <p>Enter your email to start growing your Instagram:</p>
                            <form class="form-inline formoid">
                                <div class="input-group">
                                    <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now </button>
                            </form>
                            <span class="d-block text-light-50 small my-3">2 Minutes Setup • Real Results • Grow Your Instagram</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="featureboxes" class="pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">And so much more</div>
                        <h2 class="h3">And many more features to help creators</h2>
                        <p class="lead text-black-50">MassNova is deceptively easy to use, you just set it once and it does the job for you. But there are a lot of features under the hood that Instagram creators can use to grow their accounts.
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="h4">Advanced Parameters</h3>
                        <img class="my-3" src="{% static '' %}img/features.svg" width="100px" alt="features icon">
                        <p class="text-black-50 lead">Advanced targeting options to gain engaged, interested followers.</p>

                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Improvements</h3>
                        <img class="my-3" src="{% static '' %}img/white-listing.svg" width="100px" alt="whitelisting and export feature icon">
                        <p class="text-black-50 lead">We analyze your account and suggest improvements to boost your growth.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Blacklist & Whitelist</h3>
                        <img class="my-3" src="{% static '' %}img/auto-blacklist.svg" width="100px" alt="Icon for auto blacklisting users on MassNova">
                        <p class="text-black-50 lead">Don’t worry, your account won’t engage with black-listed accounts, content, or any bad word.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">A human touch</h3>
                        <img class="my-3" src="{% static '' %}img/testimonials.svg" width="100px" alt="chat bubble icon">
                        <p class="text-black-50 lead">MassNova is easy to use, but our friendly support team is here to help you improve your account.</p>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-0 mt-lg-5 align-items-center">
                    <div class="col-lg-4 order-lg-2">
                        <div class="shadow-2 text-right o-hidden">
                            <div class="pt-5 pb-2 px-5">
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <img src="{% static '' %}img/organic-instagram-growth.svg" width="96px">
                                    <div>
                                        <div class="px-2 py-2 preheader gray text-black-50 mr-0 text-right">☕ $3.96 per day</div>
                                        <p class="text-black-50 font-weight-bold mr-0 mr-lg-1 mt-2">Billed at $119<sub>/ mo</sub></p>
                                    </div>
                                </div>
                                <div class="text-left pt-3">
                                    <p class="h3 my-3">Get Started</p>
                                    <ul class="list-unstyled check text-left text-black-50">
                                        <li class="list-item">
                                            Organic Instagram Followers
                                        </li>
                                        <li class="list-item">
                                            Meaningful engagement
                                        </li>
                                        <li class="list-item">
                                            Advanced analytics
                                        </li>
                                        <li class="list-item">
                                            Costs less than your daily cup of coffee ☕
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href={% url "userapi:signup" %} class="mt-5 btn btn-light btn-block" data-toggle="modal" data-target="#signup">Choose this plan 👈</a>
                            <a href={% url "userapi:pricing" %} class="btn my-0 btn-dark text-white-light btn-block">Or learn more about pricing</a>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's MassNova again?</h3>
                                <p class="text-black-50">It’s an organic growth service made with creators in mind that brings new, relevant followers to your Instagram account. MassNova will automate your daily Instagram chores and save you 4+ hours per day, allowing you to focus on creating great content.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What's the growth like?</h3>
                                <p class="text-black-50">The majority of MassNova customers see growth of hundreds of followers in the first few days to two weeks. These results improve over time as your settings are improved.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Priced for you</h3>
                                <p class="text-black-50">With the entry-level plan starting at $69 per month, we offer advanced features, easy organic growth, and personal touch of a real Instagram manager to everyone</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Can I try MassNova free?</h3>
                                <p class="text-black-50">Our team works very hard to provide the best service in the industry. Our success team can’t support the free trial model, but we do offer a guarantee that can not be beaten.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="pt-lg-0">
            <div class="container">
                <div class="row my-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-8">
                        <div class="label py-2 px-2 mb-3 preheader green">Managed Instagram Creator Accounts</div>
                        <p class="h2 mb-3">The only service built for creators</p>
                        <p class="text-black-50 lead">Are you an Instagram creator and want to grow your account with more followers and better engagement? MassNova is the only growth service made with photographers, models, musicians, chefs, travelers, and other Instagram creators in mind.</p>
                    </div>
                </div>
                <div class="row my-5 justify-content-center align-items-center">
                    <div class="col-md-12 col-lg-5 col-xl-4">
                        <div class="label py-2 px-2 mb-3 preheader gray">Learn More</div>
                        <h2 class="h3 mb-3">Are you a creator? Grow your Instagram account now</h2>
                        <p class="lead text-black-50">It’s not just about followers, everyone can buy fake and ghost followers for a few dollars. MassNova offers you much more. If you are an Instagram creator, and want to truly grow your account with real, organic followers, better engagement and a personal, human touch, MassNova is ready for you. </p>
                        <p class="lead text-black-50">If you're still not ready to get started, <a href={% url "userapi:contact" %}>get in touch</a> with your questions and our success team will get back to you ASAP!</p>
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Join MassNova</button>
                        </form>


                    </div>
                    <div class="col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                        <div class="asset-container mx-auto br-0 shadow-none">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">

                            </div>
                            <video class="br-24 shadow-2" src="{% static '' %}video/get-nitreo-instagram-growth.mp4" poster="{% static '' %}img/get-nitreo-instagram-growth-poster.png" autoplay loop muted preload="auto"></video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="support" class="py-0">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <h2 class="mb-3">Dedicated customer success team</h2>
                        <p class="lead text-black-50">A fast, friendly customer success team that will help you if you ever get stuck comes as standard with every MassNova account. Reach out to us, let’s have a chat. We're ready to help you grow so you can focus more on your content. <a href={% url "userapi:contact" %} class="text-underline">Reach out to us</a> if you have any questions before getting started!
                        <form class="form-inline my-5 formoid">
                            <div class="input-group">
                                <input type="email" class="form-control signUpForm" placeholder="Your Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-dark text-white w-sm-100 w-lg-auto">Sign Up Now 👈</button>
                        </form>
                        <span class="d-block text-white-50 small my-3">2 Minutes Setup • Real Results • Get Instagram Followers Fast</span>
                        <ul class="list-unstyled check text-dark">
                            <li class="list-item">
                                #1 first-time-to-response, Nov 2019
                            </li>
                            <li class="list-item">
                                Results-focused success team
                            </li>
                            <li class="list-item">
                                Dedicated account manager just for your accounts
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <img data-src="{% static '' %}img/customer-success.jpg" class="mw-100 lazy" alt="Portrait photo of the MassNova customer success manager">
                    </div>
                </div>
            </div>
        </section>
        {% include "userapi/footer.html" %}
    </body>

</html>