{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% include "userapi/head.html" %}
        <title>Instagram Agency Program - MASSNOVA</title>
        <meta property="og:url" content={% url "userapi:instagram-agency" %} />
        <link rel="canonical" href={% url "userapi:instagram-agency" %} />
        <link rel="alternate" href={% url "userapi:instagram-agency" %} hreflang="x-default" />
    </head>

    <body class="h-100">
        {% include "userapi/header.html" %}
        <section id="hero">
            <div class="container">
                <div class="row">
                    <div class="my-3 my-lg-5 col-md-12 col-lg-6 col-xl-6">
                        <div class="label py-2 px-2 mb-3 preheader">MASSNOVA Instagram Agency Program</div>
                        <h1 class="mb-3 h2">Start & Grow your Instagram Agency with MASSNOVA</h1>
                        <p class="d-none d-lg-block lead text-black-50">Use MASSNOVA to grow your clients Instagram accounts with a proven system and dedicated support team. We have been in this industry for many years and know exactly what it takes to run a successful Instagram Marketing Agency.</p>
                        <a data-tf-popup="masvn5o4" data-tf-iframe-props="title=MASSNOVA Agency Landing Lead Submission" data-tf-medium="snippet" class="btn btn-primary my-3 agency-top-cta">Sign Up</a>
                        <script src="{% static '' %}embed.typeform.com/next/embed.js"></script>
                    </div>
                    <div class="col-md-12 offset-lg-1 col-lg-4 col-xl-4">
                        <div class="asset-container mx-auto">
                            <div class="asset-support">
                                <img class="hashtag-1 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-user.png">
                                <img class="hashtag-2 zi-1 lazy" data-src="{% static '' %}img/get-nitreo-hashtag.png">
                                <img class="image-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/instagram-followers.png" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img class="lazy br-24" data-src="{% static '' %}img/instagram-for-business-example.jpg" alt="An illustrated example of Instagram being used for business">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="featureboxes" class="pb-0">
            <div class="container">
                <div class="row mb-5 justify-content-center text-left text-lg-center">
                    <div class="col-lg-10 col-xl-6">
                        <div class="d-inline-block py-2 px-2 preheader mb-3">Features</div>
                        <h2 class="h3">Best in class features</h2>

                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="h4">Dedicated Support & Training</h3>
                        <img class="my-3" src="{% static '' %}img/testimonials.svg" width="100px" alt="chat bubble icon">
                        <p class="text-black-50 lead">You will be invited to join our private Telegram channel for up to date news and updates regarding the agency dashboard.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Quick Onboarding</h3>
                        <img class="my-3" src="{% static '' %}img/features.svg" width="100px" alt="features icon">
                        <p class="text-black-50 lead">We make it easy for you to login to client accounts. You will have several options for onboarding clients.</p>

                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">Real Scalable Results</h3>
                        <img class="my-3" src="{% static '' %}img/white-listing.svg" width="100px" alt="whitelisting and export feature icon">
                        <p class="text-black-50 lead">Incredible results with no blocks and maximum uptime. Your clients deserve the best.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="h4">No Blocks or Compromises</h3>
                        <img class="my-3" src="{% static '' %}img/auto-blacklist.svg" width="100px" alt="Icon for auto blacklisting users on MASSNOVA">
                        <p class="text-black-50 lead">We fully comply with all Instagram updates and changes. All interactions we do are on real physical phones which doesn't create any red flags from the Instagram side</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="time">
            <div class="container">
                <div class="row align-items-center mx-0 py-0">
                    <div class="offset-lg-2 col-lg-4 order-lg-2">
                        <div class="row">
                            <div class="col-md-12 mt-5 mt-lg-0">
                                <div class="label py-2 px-2 mb-3 preheader">Save time & scale</div>
                                <h2 class="h3 mb-3">We are handling all the operations for you</h2>
                                <p class="lead text-black-50"></p>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-inline check text-black-50 small my-3">
                                            <li class="list-inline-item mt-3 mr-lg-5">
                                                Physical phones
                                            </li>
                                            <li class="list-inline-item mt-3">
                                                Mining
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-inline check text-black-50 small my-3">
                                            <li class="list-inline-item mt-3 mr-lg-5">
                                                Analytics
                                            </li>
                                            <li class="list-inline-item mt-3">
                                                Dev Team
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a data-tf-popup="masvn5o4" data-tf-iframe-props="title=MASSNOVA Agency Landing Lead Submission" data-tf-medium="snippet" class="btn btn-primary my-3 agency-middle-cta">Sign Up</a>
                                <script src="{% static '' %}embed.typeform.com/next/embed.js"></script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-xl-4 order-lg-1 mt-5 mt-lg-0 px-0 px-lg-5 d-lg-block d-none">
                        <div class="asset-container mx-auto br-0 shadow-none">
                            <div class="asset-support">
                                <img class="graph-1 zi-2 br-24 shadow-2 lazy" data-src="{% static '' %}img/increase-instagram-followers.jpg" alt="a chart depicting an increase in Instagram followers">
                            </div>
                            <img src="{% static '' %}img/spend-time-on-content.jpg" class="br-24 shadow-2">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-0">
            <div class="container">
                <div class="row mt-0 mt-lg-5 align-items-center">
                    <div class="col-lg-4 order-lg-2">
                        <div class="shadow-2 text-right o-hidden">
                            <div class="pt-5 pb-2 px-5">
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <img src="{% static '' %}img/organic-instagram-growth.svg" width="96px">
                                    <div>
                                        <div class="px-2 py-2 preheader gray text-black-50 mr-0 text-right">Grow your agency</div>
                                    </div>
                                </div>
                                <div class="text-left pt-3">
                                    <p class="h3 my-3">You will get</p>
                                    <ul class="list-unstyled check text-left text-black-50">
                                        <li class="list-item">
                                            Dedicated Agency Expert
                                        </li>
                                        <li class="list-item">Agency Dashboard
                                        </li>
                                        <li class="list-item">Private Telegram Channel
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <a data-tf-popup="masvn5o4" data-tf-iframe-props="title=MASSNOVA Agency Landing Lead Submission" data-tf-medium="snippet" class="btn btn-light btn-block agency-bottom-cta">Get started 👈</a>
                            <script src="{% static '' %}embed.typeform.com/next/embed.js"></script>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Can I whitelabel your service?</h3>
                                <p class="text-black-50">While we do not currently offer a full scale white label solution, you can log in your clients via customized branded links, which means that the MASSNOVA name or Logo do not have to show up anywhere during their onboarding process.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What is the pricing structure for agencies?</h3>
                                <p class="text-black-50">Unlike regular clients, agencies are charged via invoice every 30 days. They pay a flat amount per day for every account they have added to their dashboard. So if your daily cost is $1.5 and you have 30 accounts, your daily total will be $45. Of course, you can safely remove and add new accounts at any time, and your daily cost is updated automatically.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">What features does the agency plan have?</h3>
                                <p class="text-black-50">
                                    The agency plan includes all of our standard features like targeting, filtering, automatic engagement and block avoidance/recovery. All of the features are even more customizable compared to our basic plans, giving you the maximum control possible over your client’s growth.

                                    The only feature not available to agencies is the “Dedicated Account Manager”, since you will effectively be managing your client’s accounts. This is also why there are no guarantees for the agency plans – you get to decide how you want to grow your client’s accounts, and your strategies may differ from our own.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">How can I connect my clients?</h3>
                                <p class="text-black-50">MASSNOVA offers 3 main ways of connecting your clients Instagram accounts:

                                    1 – Manual Logins: The account manager provides the username, password and handles the entire login process.

                                    2 – Custom Login Links: The account manager generates a unique login link for the client. The client can then securely log in through that link for a smooth and professional login experience. The links can be custom branded with your URL and Logo to make the entire experience seamless.

                                    3 – If you have a dev team on hand, you can create a custom login portal for your clients and connect it to our back-end via API. Our largest partners leveraged this to scale their agencies to over 5000 concurrent clients.</p>
                            </div>
                            <div class="col-lg-5 mt-5">
                                <h3 class="h4">Can I use my own front-end solution with the MASSNOVA agency dashboard?</h3>
                                <p class="text-black-50">Absolutely! If you have a talented front-end team and a little know-how, you can build out anything you can imagine with our API. Some of our partners have scaled their businesses to ridiculous levels by customizing our data with their product vision.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        {% include "userapi/footer.html" %}
    </body>

</html>