{% extends "userapi/base.html" %}
{% load static %}

{% block head %}
<title>Sign In | MassNova</title>
<meta property="og:url" content={% url "userapi:login" %} />
<link rel="canonical" href={% url "userapi:login" %} />
<link rel="alternate" href={% url "userapi:login" %} hreflang="x-default" />
{% endblock  %}

{% block content %}
<!--authentication-->
<div class="section-authentication-cover">
  <div class="">
    <div class="row g-0">
      <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex border-end">
        <div class="card rounded-0 mb-0 border-0 shadow-none bg-transparent">
          <div class="card-body">
            <img src="{% static '' %}bs/images/auth/login1.png" class="img-fluid auth-img-cover-login" width="570" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right justify-content-center">
        <div class="card rounded-0 m-3 mb-0 border-0 shadow-none">
          <div class="card-body p-sm-5">
            <a href={% url "userapi:index" %}><img src="{% static '' %}media/Logo Black Font re.png" width="180" alt=""></a>
            <h4 class="fw-bold">Get Started Now</h4>
            <strong class="mb-0">Enter your credentials to login your account</strong>
            <div class="container mb-2">
              {% if messages %}
              {% for message in messages %}
              <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="form-body mt-4">
              <form class="row g-3" action={% url 'userapi:login' %} method="post">
                {% csrf_token %}
                <div class="col-12">
                  <label for="inputEmailAddress" class="form-label">Username or Email</label>
                  <input type="name" class="form-control" name="username" id="inputEmailAddress" placeholder="Enter username or email" required>
                </div>
                <div class="col-12">
                  <label for="inputChoosePassword" class="form-label">Password</label>
                  <div class="input-group" id="show_hide_password">
                    <input type="password" class="form-control" name="password" id="inputChoosePassword" placeholder="Enter Password" required>
                    <a href="#" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
                  </div>
                </div>
                <div class="col-md-6 text-end">
                  <a href={%url "userapi:forgot-password" %}>Forgot Password ?</a>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </div>
                <div class="col-12">
                  <div class="text-start">
                    <p class="mb-0">Don't have an account yet? <a href={% url 'userapi:signup' %}>Sign up here</a>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--authentication-->
{% endblock content %}