{% extends 'userapi/base.html' %}
{% load static %}

{% block head %}
<title>Target - MassNova</title>
<style>
    .scroll-at-bottom {
        overflow-y: hidden;
        resize: none;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block content %}
{% include "userapi/dashboard_header.html" %}

<!-- Target Area -->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">MassNova</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">Target Editor</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-12">
            <div class="container mb-2">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}text-danger{% elif message.tags == 'success' %}text-success{% endif %}" data-display-time="6000">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" action="{% if pk %}{% url 'userapi:target-edit' pk %}{% else %}{% url 'userapi:target-edit' %}{% endif %}" method="post" onsubmit="return checkForm()">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between m-3">
                            <h2>Target Edit</h2>
                            <div class="ms-auto">
                                <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#instaUser">
                                    Settings
                                    <i class='bx bx-cog'></i>
                                </button>
                                <!-- Settings Modal -->
                                <div class="modal fade" id="instaUser" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">
                                                    Select Insta Account for the Target
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex align-items-center">
                                                    {% if insta_creds %}
                                                    <select class="form-select text-center" id="settingsDropdown" name="selected_insta_cred">
                                                        <option value="#">------</option>
                                                        {% for insta_cred in insta_creds %}
                                                        <option value="{{ insta_cred.id }}" {% if insta_cred.id == target.insta_user.id %} selected {% endif %}>{{ insta_cred.username }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    {% else %}
                                                    <strong>No Insta Account Found against Your Account!</strong>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                {% if insta_creds %}
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Select</button>
                                                {% endif %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Settings Modal End-->
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Targeting
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                    <div class="accordion-body text-center">
                                        <div class="d-flex justify-content-center flex-wrap gap-3 mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="post-like" value="post-like">
                                                <label class="form-check-label" for="post-like">
                                                    Post (like)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="post-comment" value="post-comment">
                                                <label class="form-check-label" for="post-comment">
                                                    Post (comment)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="comment-like" value="comment-like">
                                                <label class="form-check-label" for="comment-like">
                                                    Comment (like)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="reels-view" value="reels-view">
                                                <label class="form-check-label" for="reels-view">
                                                    Reels (view)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="reels-like" value="reels-like">
                                                <label class="form-check-label" for="reels-like">
                                                    Reels (like)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="reels-comment" value="reels-comment">
                                                <label class="form-check-label" for="reels-comment">
                                                    Reels (comment)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="hashtag-like" value="hashtag-like">
                                                <label class="form-check-label" for="hashtag-like">
                                                    #Hashtags (like)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="type" id="hashtag-comment" value="hashtag-comment">
                                                <label class="form-check-label" for="hashtag-comment">
                                                    #Hashtags (comment)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center flex-wrap gap-3">
                                            <div class="col-12 col-md-6 col-lg-2">
                                                <button type="button" class="btn ripple btn-primary w-75" data-bs-toggle="modal" data-bs-target="#listModal">
                                                    List
                                                </button>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-2">
                                                <button type="button" class="btn ripple btn-primary w-75" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-2">
                                                <button type="button" class="btn ripple btn-primary w-75">Copy</button>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-2">
                                                <button type="button" class="btn ripple btn-primary w-75">Clear</button>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center m-3">
                                            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                                                <div class="d-flex justify-content-center">
                                                    <div class="w-100">
                                                        <textarea class="form-control mx-3 scroll-at-bottom" id="username" name="username" placeholder="Enter Username or complete URL" rows="1"></textarea>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <button class="btn btn-primary rounded-start mx-4" type="button">
                                                            Insert
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Activity Time Settings
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                    <div class="accordion-body text-center">
                                        <p>
                                            Activity Time Div
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-3">
                            <button class="btn btn-primary ripple px-5" type="submit">
                                Save Target
                            </button>
                        </div>
                        <!-- List Modal -->
                        <div class="modal fade" id="listModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"> Add Usernames </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control w-100" rows="6"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- List Modal End-->
                        <!-- View Modal -->
                        <div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"> All Usernames </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control w-100" rows="6" readonly></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- View Modal End -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Target Area End -->

<script>
    function toggleModal(modalId, isOpen) {
        document.getElementById(modalId).style.display = isOpen ? 'block' : 'none';
        document.body.classList.toggle('popup-open', isOpen);
    }

    function checkForm() {
        var instaAccount = document.getElementById('settingsDropdown').value;

        // Check if the selected value is the default value
        if (instaAccount === '#') {
            alert('Please select an Insta Account.');
            return false;
        }

        return true;
    }
</script>

{% include "userapi/dashboard_footer.html" %}

{% endblock %}