{% extends "userapi/base.html" %}
{% load static %}

{% block head %}
<title>Targets - MassNova</title>
{% endblock %}

{% block content %}
{% include "userapi/dashboard_header.html" %}
<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">MassNova</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">Targets</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <!-- Targets -->
        <div class="col-12">
            {% include "userapi/messages_snippet.html" %}

            <div class="card">
                <div class="card-body">
                    <div class="container p-0 m-2">
                        <div class="d-flex justify-content-between align-items-center me-3">
                            <div>
                                <h3>Targets</h3>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary">
                                    <a href="{% url 'userapi:dashboard' %}" class="text-white text-nowrap">Add New<i class='bx bx-plus'></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>Target Details</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if targets %}
                                {% for target in targets %}
                                <tr>
                                    <td>{{target.insta_user.username}} - {{target.target_type.type}} </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm mb-2 mb-sm-0 me-sm-2">
                                            <a href="{% url 'userapi:target-edit' target.id %}" class="text-white">
                                                Edit
                                                <i class="bx bx-edit"></i>
                                            </a>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm mb-2 mb-sm-0" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setTargetID('{{ target.id }}')">
                                            Delete
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <strong>No Targets Added Yet!</strong>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Targets Area End -->
    </div>
</main>
<!--end main wrapper-->

<!-- Delete Modal -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Target</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteTarget">
                {% csrf_token %}
                <input type="hidden" id="targetID">
                <div class="modal-body">
                    <div class="mb-3">
                        <strong>
                            <span>Are you sure to delete this target from your account?</span>
                        </strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteTarget()">
                        Delete
                        <i class='bx bx-trash'></i>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                        <i class='bx bx-x'></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal End -->

{% include "userapi/dashboard_footer.html" %}

<script>
    function setTargetID(targetID) {
        document.getElementById("targetID").value = targetID;
    }

    function deleteTarget() {
        var form = document.getElementById('deleteTarget');
        let csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
        let targetID = form.querySelector("#targetID").value;
        var url = `/target/${targetID}/`;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
                'Authorization': "Token {{ request.session.token }}"
            },
        })
            .then(response => {
                if (response.ok) {
                    // Handle success (e.g., show a success message, refresh the page)
                    window.location.pathname = '/targets/';
                }
            })
            .catch(error => {
                // Handle network or other errors
                alert('Error during delete request:', error);
            });
    }
</script>
{% endblock %}