{% load static %}
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="theme-color" content="#fff" />

    <meta name="description" content="Instagram Growth Tool - Stellation Media" />
    <meta name="keywords" content="instagram, growth tool, instagram growth, instagram targeted growth, Instagram followers" />

    <link rel="icon" href="{% static '' %}Targeting Settings_files/sisomade-66a2a8e5a60ed.png" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static '' %}Targeting Settings_files/sisomade-66a2a8e5a60ed.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}Targeting Settings_files/plugins.css" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}Targeting Settings_files/bootstrap-modal.css" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}Targeting Settings_files/core.css" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}Targeting Settings_files/bypassing.css" />

    <link rel="stylesheet" type="text/css" href="{% static '' %}Targeting Settings_files/accounts-filters.css" />

    <script>
      ; (function (w) {
        w.fpr =
          w.fpr ||
          function () {
            w.fpr.q = w.fpr.q || []
            w.fpr.q[arguments[0] == 'set' ? 'unshift' : 'push'](arguments)
          }
      })(window)
      fpr('init', {
        cid: 'ilbr2oap'
      })
      fpr('click')
    </script>
    <script src="{% static '' %}Targeting Settings_files/fpr.js" async></script>

    <title>Accounts</title>
  </head>

  <body>
    {% include "nav.html" %}
    <div class="skeleton" id="accounts">
      <div class="container-1200">
        <div class="row clearfix js-account-search-content">
          <div class="no-data">
            <p>You haven't add any Instagram account yet. Click the button below to add your first account.</p>
            <a class="small button" href="/accounts/new">
              <span class="icon-user-follow"></span>
              New Account
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/plugins.js"></script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/Chart.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var __ = function (msgid) {
        return window.i18n[msgid] || msgid
      }

      window.i18n = {
        // Cache Refresh modification
        'Cache successfully cleared': 'Cache successfully cleared',
        'Are you sure?': 'Are you sure?',
        'It is not possible to get back removed data!': 'It is not possible to get back removed data!',
        'Yes, Delete': 'Yes, Delete',
        Cancel: 'Cancel',
        'Fill required fields': 'Fill required fields.',
        'Please select at least 2 media album post.': 'Please select at least 2 media album post.',
        'Please select one media for story post.': 'Please select one media for story post.',
        'Please select one media for post.': 'Please select one media for post.',
        'Please select an Instagram account to post.': 'Please select an Instagram account to post.',
        'Oops! An error occured. Please try again later!': 'Oops! An error occured. Please try again later!',
        'Use the TAB key to insert emoji faster': 'Use the TAB key to insert emoji faster',
        'Total Posts': 'Total Posts',
        Followers: 'Followers',
        Following: 'Following',
        'Uploading...': 'Uploading...',
        'Do you really want to cancel automatic payments?': 'Do you really want to cancel automatic payments?',
        'Yes, cancel automatic payments': 'Yes, cancel automatic payments',
        No: 'No',
        Verification: 'Verification',
        'Searching for %s': 'Searching for %s...',
        '+%s more': '+%s more',

        // Account Login Activity
        'Login Activity': 'Login Activity',
        'Active now': 'Active now',
        'Log Out': 'Log Out',
        'This Apple iPhone': 'This Apple iPhone',
        'Apple iPhone': 'Apple iPhone',
        "Where You're Logged in": "Where You're Logged in",
        'Was This You?': 'Was This You?',
        'This Was Me': 'This Was Me',
        'This Wasn’t Me': 'This Wasn’t Me',

        // Account Change Password
        'New Password': 'New Password',
        'Change Password': 'Change Password',
        'Update Password': 'Update Password',

        // Insights Basic
        Date: 'Date',
        Month: 'Month',
        'Day of the week': 'Day of the week',
        'Instagram-report': 'Instagram-report',
        'Export data': 'Export data',
        'for a week': 'for a week',
        'for a month': 'for a month',
        'for a year': 'for a year'
      }

      $.fn.datepicker.language['en-US'] = {
        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        today: 'Today',
        clear: 'Clear',
        dateFormat: 'mm/dd/yyyy',
        timeFormat: 'hh:ii aa',
        firstDay: 1
      }

      if (typeof $.fn.oneFileManager !== 'undefined') {
        $.fn.oneFileManager.i18n['en-US'] = {
          selectFiles: 'Select files',
          loadMoreFiles: 'Load more',
          viewFile: 'View',
          deleteFile: 'Delete',
          urlInputPlaceholder: 'Paste your link here...',

          emptyVolume: 'Your media volume is empty. <br /> Drag some files here.',
          dropFilesHere: 'Drop files here to upload',
          deleteFileConfirm: 'This file and all uncompleted posts which this file is assigned to will be removed. This process cannot be undone. Do you want to proceed?',
          bigFileSizeError: 'File size exceeds max allowed file size.',
          fileTypeError: 'File type is not allowed.',
          noEnoughVolumeError: 'There is not enough storage to upload this file',
          queueSizeLimit: 'There are so many files in upload queue. Please try again after current upload queue finishes.',
          deleteMessage: '{count} file(s) selected.',
          deleteMessageBtn: 'Remove?',
          removeSelectionConfirmation: 'Do you want to remove the selected files? This process can not be undone.',
          usedXofY: 'Used {used} of {total}',
          usedX: 'Used {used}',
          total: 'Total',
          xfiles: '{count} files',
          remainingStorage: 'Remaining storage',
          maxUploadSize: 'Max. file size to upload',
          unlimitedStorage: 'Unlimited storage',
          clearStorage: 'Clear storage',
          clearStorageConfirm: 'Do you really want to remove all of your files? Your scheduled posts will not be published. This action not be undone.'
        }
      }
    </script>
    <script type="text/javascript" charset="utf-8">
      var __ = function (msgid) {
        return window.i18n[msgid] || msgid
      }

      window.i18n = {
        Confirm: 'Confirm',
        Close: 'Close',
        'Resend code': 'Resend code',
        'Code sent': 'Code sent'
      }
    </script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/bypassing.js"></script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/accounts-filters.js"></script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/core.js"></script>
    <script type="text/javascript" src="{% static '' %}Targeting Settings_files/tableExport.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        NextPost.SwitchPlatform()
        NextPost.RefreshCookies()
        // Insights Basic Loader
        NextPost.InsightsBasicLoader()
        NextPost.RefreshSelfInfo()
        // Wesley Start Mod
        NextPost.AccountsFilter()
        NextPost.SlaveOn()
        NextPost.SlaveOff()
        NextPost.AllSlaveOn()
        NextPost.AllSlaveOff()
        NextPost.FlushAccelerators()
        NextPost.RemoveLoginRequired()
      })
    </script>
  </body>

</html>